/** general stylesheet */
html, body, #container, #container > .row, #sidebar, #content {
  height: 100%; }

a {
  cursor: pointer;
  color: #3A8BDF; }
  a:hover {
    color: #4F9AE6; }

.btn-primary {
  background-color: #3A8BDF;
  border-color: #3282D6; }
  .btn-primary:hover {
    background-color: #4F9AE6;
    border-color: #3282D6; }

.color-blue {
  color: #3A8BDF; }

.color-green {
  color: #5cb85c; }

.color-red {
  color: #d9534f; }

.color-orange {
  color: #f0ad4e; }

.btn-text-primary, .btn-text-success, .btn-text-warning, .btn-text-danger {
  background-color: white;
  border-color: #DADADA; }
  .btn-text-primary:hover, .btn-text-success:hover, .btn-text-warning:hover, .btn-text-danger:hover {
    border-color: #DADADA; }

.btn-text-primary {
  color: #3A8BDF; }
  .btn-text-primary:hover {
    color: #4F9AE6; }

.btn-text-success {
  color: #5cb85c; }
  .btn-text-success:hover {
    color: #449d44; }

.btn-text-warning {
  color: #f0ad4e; }
  .btn-text-warning:hover {
    color: #ec971f; }

.btn-text-danger {
  color: #d9534f; }
  .btn-text-danger:hover {
    color: #c9302c; }

.form-control.disabled, fieldset.disabled .form-control {
  cursor: not-allowed; }

.form-control.disabled, .form-control.readonly, fieldset.disabled .form-control {
  background-color: #eee;
  opacity: 1; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.no-padding {
  padding: 0px;
  margin: 0px; }

.form-row .row {
  margin-bottom: 10px; }

.form-action {
  margin-top: 10px;
  margin-bottom: 10px; }

.sub-title-content {
  color: #5F5F5F;
  font-size: 15px;
  font-weight: bold; }

.vv-padding-right {
  padding-right: 0px; }

.vv-padding-left {
  padding-left: 0px; }

.full-width {
  width: 100%; }

.filter-label {
  line-height: 25px;
  text-align: right; }
  .filter-label:after {
    content: ":";
    position: absolute;
    right: 5px; }

.inspectElement > ul li.active {
  background: #EAFFF9;
  padding-left: 0px;
  border: 1px solid #00C3EF;
  cursor: pointer; }

.inspectElement {
  overflow-y: scroll;
  height: 400px; }

.inspectElement > ul li:hover {
  padding-left: 0px;
  border: 1px solid #3A8BDF;
  cursor: pointer; }

.inspectElement > ul {
  list-style-type: "none";
  margin-left: 0px;
  padding-left: 0px; }

.action-button {
  margin-bottom: 10px; }

.pcustom {
  font-weight: bold;
  font-size: 15px; }

.btnsrvcustom {
  width: 120px;
  border-radius: 0px; }

.bd0 {
  border-radius: 0px; }

.mg0 {
  margin: 0px !important; }

.bdcolornone {
  border-color: transparent !important; }

.headercustom {
  height: 32px;
  background-color: #3A8BDF; }

.pdTop6 {
  padding-top: 6px;
  color: white; }

.bd1 {
  border: solid 1px; }

.tvcustom {
  margin: 20px 0 0; }

.tacustom {
  margin: 15px 0;
  resize: none; }

.inputcustom {
  height: 25px;
  margin-top: 2px; }

.demo-section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 2em; }

.headlogo, .headimage {
  float: left; }

.headimage {
  margin-top: -17px; }

.btn2 {
  margin-left: 15%; }

.nav1 {
  padding-top: 1%; }

.lbl {
  margin-left: -12%; }

.intext {
  width: 100%;
  height: 350px; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.nav2 {
  margin-top: 2%; }

.btn-upload {
  margin-left: 10%; }

.col-100 {
  width: 100%; }

#myTab {
  margin-bottom: 2%; }

#trv-save {
  float: right; }

.bgcustom {
  padding: 10px 15px;
  margin-left: 15px;
  width: 300px; }

/** structured stylesheet */
body {
  padding-top: 86px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857;
  color: #333; }
  body > .navbar {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    border-bottom: none; }
  body #header .navbar-brand {
    font-family: "Open Sans";
    font-weight: bold;
    color: #5F5F5F; }
  body #nav {
    background-color: #3A8BDF; }
    body #nav .nav.navbar-nav > li > a {
      padding: 8px 14px;
      color: white;
      background-image: none;
      box-shadow: none;
      text-shadow: none;
      font-size: 13px; }
      body #nav .nav.navbar-nav > li > a:hover, body #nav .nav.navbar-nav > li > a:focus {
        background-color: inherit; }
    body #nav .nav.navbar-nav > li ul {
      border: none; }
    body #nav .nav.navbar-nav > li.active > a, body #nav .nav.navbar-nav > li.open > a, body #nav .nav.navbar-nav > li:hover > a {
      background-color: #4F9AE6; }
  body #sidebar {
    border-right: 1px solid #E8E8E8; }
    body #sidebar .nav li a {
      color: #5F5F5F; }
      body #sidebar .nav li a.active {
        background-color: #eee;
        text-decoration: none; }
  body #content {
    padding: 0px; }
    body #content > .col-md-12 > h1 {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 5px;
      font-size: 24px;
      font-weight: 600;
      background-color: #f6f8f8;
      margin: 0 -15px 5px;
      padding: 13px 15px;
      color: #5F5F5F; }
    body #content > .col-md-12 .navbar {
      border-radius: 0px;
      margin-bottom: 5px; }
      body #content > .col-md-12 .navbar.no-padding {
        margin: 0px !important;
        padding: 0px !important; }
      body #content > .col-md-12 .navbar .navbar-btn {
        margin-right: 2px; }
    body #content > .col-md-12 .panel {
      border: 1px solid #ccc;
      box-shadow: none; }
      body #content > .col-md-12 .panel .panel-heading {
        background-color: transparent;
        border-bottom: none;
        padding-bottom: 0px; }
      body #content > .col-md-12 .panel h1 {
        color: #5F5F5F;
        font-weight: 600;
        padding-bottom: 4px;
        border-bottom: 1px solid whitesmoke;
        font-size: 20px; }
      body #content > .col-md-12 .panel .form-datasource .title-command {
        border-bottom: 1px solid #DDDDDD;
        width: 100%;
        text-align: left;
        padding-bottom: 2px;
        margin-bottom: 12px; }
      body #content > .col-md-12 .panel .form-datasource .nav-command {
        border-right: 1px solid #DDDDDD; }
        body #content > .col-md-12 .panel .form-datasource .nav-command .nav li a {
          padding: 6px 10px;
          background-color: #FBFBFB;
          margin-bottom: 3px;
          border-radius: 4px;
          border: 1px solid whitesmoke;
          color: #5F5F5F; }
          body #content > .col-md-12 .panel .form-datasource .nav-command .nav li a:hover {
            background-color: #3A8BDF;
            color: whitesmoke; }
      body #content > .col-md-12 .panel .form-datasource .area-command textarea {
        width: 100%;
        height: 150px; }
      body #content > .col-md-12 .panel .form-datasource .area-command ul.token-input-list-facebook {
        width: 100%;
        border: 1px solid #DDDDDD;
        padding: 4px;
        min-height: 100px; }
        body #content > .col-md-12 .panel .form-datasource .area-command ul.token-input-list-facebook .token-input-token-facebook {
          height: 120px;
          padding: 2px 5px;
          background-color: #3A8BDF;
          color: #FFF;
          border: 1px solid #3A8BDF; }
          body #content > .col-md-12 .panel .form-datasource .area-command ul.token-input-list-facebook .token-input-token-facebook span {
            color: #FFFFFF; }
          body #content > .col-md-12 .panel .form-datasource .area-command ul.token-input-list-facebook .token-input-token-facebook:hover {
            background-color: white;
            color: #5F5F5F; }
            body #content > .col-md-12 .panel .form-datasource .area-command ul.token-input-list-facebook .token-input-token-facebook:hover span {
              color: #3A8BDF; }
      body #content > .col-md-12 .panel #datasource-settings thead tr th {
        padding-top: 15px; }
      body #content > .col-md-12 .panel #datasource-settings tbody tr td {
        padding-top: 8px;
        padding-right: 5px; }
      body #content > .col-md-12 .panel #grid-metadata tr.has-lookup td {
        font-weight: bold; }
      body #content > .col-md-12 .panel .grid-service tr td .btn-start {
        display: inherit; }
      body #content > .col-md-12 .panel .grid-service tr td .btn-stop {
        display: none; }
      body #content > .col-md-12 .panel .grid-service tr td.scrapper-status {
        background-color: #D9534F;
        position: relative; }
        body #content > .col-md-12 .panel .grid-service tr td.scrapper-status span:after {
          content: "STOPPED";
          position: absolute;
          top: 10px;
          right: 0;
          bottom: 0;
          left: 0;
          text-align: center;
          color: white; }
      body #content > .col-md-12 .panel .grid-service tr.started td .btn-start {
        display: none; }
      body #content > .col-md-12 .panel .grid-service tr.started td .btn-stop {
        display: inherit; }
      body #content > .col-md-12 .panel .grid-service tr.started td.scrapper-status {
        background-color: #5CB85C; }
        body #content > .col-md-12 .panel .grid-service tr.started td.scrapper-status span:after {
          content: "STARTED"; }
    body #content > .col-md-12 .nav.nav-tabs li:hover {
      cursor: pointer; }
    body #content > .col-md-12 .navbar-button {
      padding: 14px; }
    body #content > .col-md-12 .bg-notif {
      padding: 8px 10px;
      width: 100%;
      margin: 0;
      margin-bottom: 15px; }
  body .modal-query .modal-title span {
    font-weight: bold;
    color: #3A8BDF; }
  body #content-preview {
    border: 1px solid whitesmoke;
    min-height: 500px; }
  body .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); }
    body .loader-container .loader {
      position: absolute;
      margin-left: -25px;
      margin-top: -25px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: #03a9f4;
      border-radius: 50%; }
      body .loader-container .loader:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        border: 0px solid white;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: loading 1000ms ease-out forwards infinite;
        animation: loading 1000ms ease-out forwards infinite; }

@-webkit-keyframes loading {
  0% {
    border: 0px solid white; }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%; }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%; } }
@keyframes loading {
  0% {
    border: 0px solid white; }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%; }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
