<title>EACIIT Web Template</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/res/img/logo.png" type="image/x-icon" />
<link rel="icon" href="/res/img/logo.png" type="image/x-icon" />

<!-- jquery -->
<script src="/res/jquery/jquery-2.1.0.min.js"></script>
<script src="/res/jquery/jquery-ui.min.js"></script>

<!-- knockout -->
<script src="/res/knockout/knockout-3.4.0.js"></script>
<script src="/res/knockout/knockout.mapping.js"></script>

<!-- lazyjs -->
<script src="/res/lazyjs/lazy.min.js"></script>

<!-- bootstrap -->
<script src="/res/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="/res/bootstrap/css/bootstrap-theme.min.css" /> -->

<!-- font-awesome -->
<link rel="stylesheet" href="/res/font-awesome/css/font-awesome.min.css" />

<!-- kendo-ui -->
<link href="/res/kendo-ui/styles/kendo.common.min.css" rel="stylesheet">
<link href="/res/kendo-ui/styles/kendo.default.min.css" rel="stylesheet">
<link href="/res/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet">
<!-- <link href="/res/kendo-ui/styles/kendo.custom.min.css" rel="stylesheet"> -->
<link href="/res/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet">
<link href="/res/kendo-ui/styles/kendo.dataviz.default.min.css" rel="stylesheet">
<script src="/res/kendo-ui/js/kendo.all.min.js"></script>

<!-- knockout-kendo -->
<script src="/res/knockout-kendo/knockout-kendo.min.js"></script>

<!-- moment -->
<script src="/res/moment/moment.min.js"></script>

<!-- toaster -->
<script src="/res/toastr/toastr.min.js"></script>
<link href="/res/toastr/toastr.min.css" rel="stylesheet"/>

<!-- core -->
<script src="/res/core/app.js"></script>
<link rel="stylesheet" href="/res/core/style.css" />
