<title>EACIIT Web Template</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/static/assets/img/logo.png" type="image/x-icon" />
<link rel="icon" href="/static/assets/img/logo.png" type="image/x-icon" />

<!-- header -->
<script>var viewModel = { header: {} };</script>

<!-- jquery -->
<script src="/static/assets/jquery/jquery-2.1.0.js"></script>
<script src="/static/assets/jquery/jquery-ui.min.js"></script>

<!-- bootstrap -->
<script src="/static/assets/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/assets/bootstrap/bootstrap.min.css" />

<!-- font-awesome -->
<link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css" />

<!-- knockout -->
<script src="/static/assets/knockout/knockout-3.4.0.js"></script>
<script src="/static/assets/knockout/knockout.mapping-latest.js"></script>

<!-- kendo-ui -->
<link href="/static/assets/kendo-ui/styles/kendo.common.min.css" rel="stylesheet">
<link href="/static/assets/kendo-ui/styles/kendo.default.min.css" rel="stylesheet">
<!-- <link href="/static/assets/kendo-ui/styles/kendo.custom.min.css" rel="stylesheet"> -->
<link href="/static/assets/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet">
<link href="/static/assets/kendo-ui/styles/kendo.dataviz.default.min.css" rel="stylesheet">
<script src="/static/assets/kendo-ui/js/kendo.all.min.js"></script>

<!-- knockout-kendo -->
<script src="/static/assets/knockout-kendo/knockout-kendo.min.js"></script>

<!-- lazy -->
<script src="/static/assets/lazyjs/lazy.min.js"></script>

<!-- main -->
<script src="/static/assets/js/main/app.js"></script>

<!-- others -->
<script src="/static/assets/touch-punch/jquery.touch-punch.min.js"></script>
<script src="/static/assets/shapeshift/jquery.shapeshift.js"></script>
<script src="/static/assets/packery/packery.pkgd.min.js"></script>

<link rel="stylesheet" href="/static/assets/css/site.css" />
<!-- <link rel="stylesheet" href="/static/assets/css/overlay.css"/> -->
<!-- <link rel="stylesheet" href="/static/assets/css/customred.css" id="customlayout"/> -->
<!-- <link rel="stylesheet" href="/static/assets/css/animation.css" /> -->

<script type="text/javascript" src="/static/assets/js/tokeninput/jquery.tokeninput.js"></script>
<link rel="stylesheet" href="/static/assets/js/tokeninput/token-input-facebook.css" type="text/css" />
<!-- <link rel="stylesheet" href="/static/assets/css/customred.css" id="customlayout" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/res//static/assets/iconpack/flaticon.css"> -->