<ul class="nav navbar-nav">
    <li><a href="/index">Dashboard</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/widget">Widget</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/example">Example</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="#" class="dropdown dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Page</a>
        <ul class="dropdown-menu" rola="menu">
            <li class="dropdown-submenu"><a href="/page/blank" class="dropdown dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Blank</a>
                <ul class="dropdown-menu" rola="menu"></ul>
            </li>
            <li class="dropdown-submenu"><a href="haha" class="dropdown dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">test</a>
                <ul class="dropdown-menu" rola="menu">
                    <li class="dropdown-submenu"><a href="#" class="dropdown dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Test 2</a>
                        <ul class="dropdown-menu" rola="menu"></ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>