<script src="/res/core/index.js"></script>

<div id="menu-left">
	<div class="toogle-left">
		<span class="glyphicon glyphicon-align-justify" id="toggle-left"></span>
	</div>
	<div class="list-group" id="listmenuleft" style="min-height: 717px; visibility: visible; margin-top: 0px;">
	    <ul class="topnav menu-left-nest" style="margin: 10px;">
	        <li style="text-align: left;">
	            <div class="title-menu-left" style="display: inline-block; float: none;"><span style="display: inline-block; float: none;">PAGE MENU</span></div>
	        </li>
	        <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-file"></i><span style="display: inline-block; float: none;">Page</span><h4><span class="glyphicon glyphicon-option-horizontal"></span></h4></a>
	            <ul>
	                <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-list-alt"></i><span style="display: inline-block; float: none;">Blank Page</span></a></li>
	                <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-repeat"></i><span style="display: inline-block; float: none;">Login Page</span></a></li>
	            </ul>
	        </li>
	        <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-file"></i><span style="display: inline-block; float: none;">Page Bonus</span></a></li>
	    </ul>
	    <ul class="topnav menu-left-nest" style="margin: 10px;">
	        <li style="text-align: left;">
	            <div class="title-menu-left" style="display: inline-block; float: none;"><span style="display: inline-block; float: none;">PAGE MENU</span></div>
	        </li>
	        <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-file"></i><span style="display: inline-block; float: none;">Page</span><h4><span class="glyphicon glyphicon-option-horizontal"></span></h4></a>
	            <ul>
	                <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-list-alt"></i><span style="display: inline-block; float: none;">Blank Page</span></a></li>
	                <li style="text-align: left;"><a class="tooltip-tip ajax-load tooltipster-disable" href="#"><i class="glyphicon glyphicon-repeat"></i><span style="display: inline-block; float: none;">Login Page</span></a></li>
	            </ul>
	        </li>
	    </ul>
	</div>
</div>

<div class="wrap-fluid content-all" style="margin-left: 250px;">
	tests
</div>