<!DOCTYPE html>
<html>
	<head>
		<script>var viewModel = {};</script>
		{{template "_head.html"}}
	</head>
	<body data-bind="with: viewModel">
		<div class="navbar navbar-fixed-top">
			<div class="container-fluid" id="header">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="/res/img/logoeaciittrans.png" class="headimage">
						<p class="headlogo">Colony Manager</p>
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">
							<i class="fa fa-user"></i>
							Account
						</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>				
			</div>

			<div class="navbar-collapse collapse" id="nav">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/web/index">Dashboard</a>
						</li>
						<li>
							<a href="/web/datasource">Data Source</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Data Manager <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/web/databrowser">Data Browser</a>
								</li>
								<li>
									<a href="/web/datagrabber">Data Serializer</a>
								</li>
								<li>
									<a href="/web/webgrabber">Web Grabber</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Widget <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/web/widgetlist">Widget List</a>
								</li>
								<li>
									<a href="/web/widgetsettings">Widget Settings</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/web/application">Application</a>
						</li>
						<li>
							<a href="/web/process">Process</a>
						</li>
					</ul>
					<!-- <ul class="nav navbar-nav navbar-right"></ul> -->
				</div>
			</div>
		</div>

		<div class="container-fluid" id="container">
			<div class="row">
				{{.Content}}
			</div>
		</div>

		{{template "_loader.html"}}

		<script type="text/javascript">
		    ko.applyBindings(viewModel);
		</script>
	</body>
</html>