<style>
    .no-left-padding {
        padding-left: 0px;
    }
</style>

<h1>Session</h1>

<nav class="navbar" data-bind="visible: (app.mode() == '')"> 
    <div class="col-md-3">
    <input class="form-control full-width input-sm searchsrv" name="search" placeholder="Search" />
</div>
</nav>
 
<div class="panel" data-bind="visible: (app.mode() == '')"> 
        <div class="grid grid-sessions" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: ses.SessionData, selectable: 'multiple, row', change:ses.selectGridSession, columns: ses.SessionColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-sessions')}"></div>
    <p class="bg-danger bgcustom">Please click row to edit!</p>
</div>

 