<!-- core -->
<script src="/res/core/page-dataflow.js"></script>

<style>
.btn-nav-container {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 3px;
}
.sidebar {
	padding-right: 0px;
    width:  6.333333%!important;
}
.designer {
	padding-left: 0px;
	padding-top: 20px;
    width: 93.666667%!important;
}
</style>
<div data-bind="visible:df.Mode()!='Grid'">
<div class="col-xs-12 col-sm-12" id="content" data-bind="with: dataflow">
	<div class="col-md-12" data-bind="visible: (app.section() == '')">
		<ol class="breadcrumb bc-custom">
			<li>Data Flow Designer</li>
			<div class="pull-right">
				<button class="btn mgRight btn-tooltip" title="Back" onclick="df.backToGrid();"><span class="glyphicon glyphicon-arrow-left"></span></button>
				<button class="btn btn-danger btn-tooltip" title="Clear Editor" onclick="df.clearDiagram();"><span class="glyphicon glyphicon-remove"></span></button>
				<button class="btn btn-tooltip" title="Reload" onclick="df.Reload();"><span class="glyphicon glyphicon-repeat"></span></button>
				<button class="btn btn-primary btn-tooltip" title="Save" onclick="df.Save();"><span class="glyphicon glyphicon-floppy-disk"></span></button>
				<button class="btn btn-success mgLeft btn-tooltip" title="Save & Run" id="popRun" onclick="df.popRun()"><span class="glyphicon glyphicon-play"></span></button>
			</div>
		</ol>

		<div class="row dataflow-content">
			<div class="col-md-1 sidebar" data-bind="visible: (app.section() == '')">
				<div class="btn-nav-container">
					<!-- <button class="btn btn-sm btn-primary mgTop15" data-bind="click: df.run">
			    		<span class="glyphicon glyphicon-play"></span> Run
			    	</button> -->
		    	</div>

				  <div data-bind="foreach:ActionItems" id="sortable-All" style="min-height: 110px;margin-top: 4px;">
		              <div data-bind="css: Name,attr:{type: Type, name: Name,image:Image,id:Id,color:Color,title:Name},style:{ 'backgroundImage': 'url(/res/img/'+Image+')' }" class="list-left tooltipster"></div>
		          </div>
			</div>

			<div class="col-md-11 designer" data-bind="visible: (app.section() == '')">
				<div class="diagram"></div>
			</div>
		</div>
	</div>
</div>

<button style="display:none" data-content="" id="popbtn"></button>
<button style="display:none" data-content="" id="popGlobalVar"></button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Global Variables</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody data-bind="foreach:df.globalVar">
                        <tr>
                            <td> <input class="inp-global" data-bind="value:key"> </td>
                            <td> <input class="inp-global" data-bind="value:value"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="df.run()">Save & Run</button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="popover-content-globalvar">
<table>
    <tbody>
        <tr>
            <td>
                <a class="btn btn-info btn-xs" data-bind="" onclick="df.addGlobalVar();">Add variables</a>
            </td>
        </tr>
        <!-- ko foreach: df.globalVar -->
        <tr>
            <td> <input class="inp-global" data-bind="value:key" placeholder="Fill parameter name"> </td>
            <td> <input class="inp-global" data-bind="value:value" placeholder="Fill parameter default value"> </td>
            <td>
                <a class="btn btn-danger btn-xs" data-bind="attr:{index:idx}" onclick="df.deleteGlobalVar(event);"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
         <!-- /ko -->
    </tbody>
</table>
</script>

<script type="text/template" id="popover-content-template">
    <table data-bind="visible: (df.popoverMode() != 'Transitions' && df.popoverMode() != 'Decision' && df.popoverMode() != 'Stop')">
        <tbody>
            <tr>
                <td>Server</td>
                <td>  <input type="text" class="inp-decision  ddl-server" data-bind="kendoDropDownList: { data: df.servers,dataTextField:'_id',dataValueField:'_id' ,value:df.selectedServer }"></td>
            </tr>
        </tbody>
    </table>
    <div class="ct-custom" >
        <table data-bind="with:df.sparkModel,visible: (df.popoverMode() == 'Spark')">
            <tbody>
                <tr>
                    <td>Spark Master</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:master" placeholder="e.g. local[*]">
                        <!-- <button class="btn pd-custom fileChooserBtn">..</button> -->
                    </td>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mode" placeholder="e.g. Client">
                        <!-- <button class="btn pd-custom fileChooserBtn">..</button> -->
                    </td>
                </tr>
                <tr>
                    <td>App file</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:appfiles" placeholder="File java or scala in HDFS files">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
              <!--   <tr>
                    <td>App Name</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:appname" placeholder="e.g. My Spark">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr> -->
                <tr>
                    <td>Main Class</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mainclass" placeholder="e.g. org.spark.example.main">
                    </td>
                </tr>
                <tr>
                    <td>Arguments</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:args" placeholder="Comma separated arguments">
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.hdfsModel, visible: (df.popoverMode() == 'HDFS')">
            <tbody>
                <tr>
                    <td>HDFS Script</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:script" placeholder="Fill HDFS executable/script">
                    </td>
                </tr>
            </tbody>
        </table>
         <table data-bind="with:df.sshModel, visible: (df.popoverMode() == 'SSH Script')">
            <tbody>
               <!--  <tr>
                    <td>User and Host</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:script" placeholder="e.g. user@host.com">
                    </td>
                </tr> -->
                <tr>
                    <td>SSH Script</td>
                    <td>
                        <textarea type="text" class="inp-custom" data-bind="value:script" placeholder="Fill SSH script"></textarea>
                        <button class="btn pd-custom fileChooserBtn textareabtn">..</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.hiveModel, visible: (df.popoverMode() == 'Hive')">
            <tbody>
                <tr>
                    <td>Script</td>
                    <td>
                        <textarea type="text" class="inp-custom" data-bind="value:scriptpath" placeholder="Script or path on HDFS"></textarea>
                        <button class="btn pd-custom fileChooserBtn textareabtn">..</button>
                    </td>
                </tr>
              <!--   <tr>
                    <td>Hive XML</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:hivexml" placeholder="Refer to a hive-site.xml for connecting to Hive">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table data-bind="with:df.shModel, visible: (df.popoverMode() == 'Shell Script')">
            <tbody>
                <tr>
                    <td>Script</td>
                    <td>
                        <textarea type="text" class="inp-custom" data-bind="value:script" placeholder="Shell command to execute, e.g script.sh"></textarea>
                        <button class="btn pd-custom fileChooserBtn textareabtn">..</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.hsModel, visible: (df.popoverMode() == 'Map Reduce')">
            <tbody>
                <tr>
                    <td>Mapper</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mapper" placeholder="The executable/script to be used as mapper">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>Reducer</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:reducer" placeholder="The executable/script to be used as reducer">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                 <tr>
                    <td>Input</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:input" placeholder="Fill input file path">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                 <tr>
                    <td>Output</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:output" placeholder="Fill output file path">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                 <tr>
                    <td>Parameters</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:parameters" placeholder="Comma separated parameters">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-info btn-xs" data-bind="" onclick="df.addFileMapReduce();">Add files</a>
                    </td>
                </tr>
                <!-- ko foreach: files -->
                <tr>
                    <td colspan="2">
                        <input class="inp-mapfiles" data-bind="value:path" placeholder="Fill the file path">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                        <a class="btn btn-danger btn-xs" data-bind="attr:{index:idx}" onclick="df.deleteFileMapReduce(event);"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <table data-bind="with:df.javaAppModel,visible: (df.popoverMode() == 'Java App')">
            <tbody>
                <tr>
                    <td>Jar File</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:jar" placeholder="Path to the jar on HDFS">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
              <!--   <tr>
                    <td>Main Class</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mainclass" placeholder="Java class. e.g. org.apache.hadoop.examples.main">
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table data-bind="with:df.emailModel, visible: (df.popoverMode() == 'Email')">
            <tbody>
                <tr>
                    <td>To</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:to" placeholder="Comma-separated values">
                    </td>
                </tr>
                <tr>
                    <td>Cc</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:cc" placeholder="Comma-separated values">
                    </td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:subject" placeholder="Fill Email Subject">
                    </td>
                </tr>
                <tr>
                    <td>Body</td>
                    <td>
                        <textarea class="inp-custom" data-bind="value:body" placeholder="Fill Email Body"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.stopModel, visible: (df.popoverMode() == 'Stop')">
            <tbody>
                <tr>
                    <td>Message</td>
                    <td>
                        <textarea class="inp-custom" placeholder="Fill stop message" data-bind="value:message"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-bind="visible: (df.popoverMode() == 'Transitions' && df.detailMode() != 'Decision' && df.detailMode() != 'Stop' )">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#transition" data-toggle="tab">Transition</a></li>
              <li><a href="#input" data-toggle="tab">Input</a></li>
              <li><a href="#output" data-toggle="tab">Output</a></li>
            </ul>
            <div class="tab-content" data-bind="with:df.actionDetails">
              <div class="tab-pane active" id="transition">
                    <table>
                        <tbody>
                            <tr>
                                <td>When failed</td>
                                <td>
                                    <input type="text" class="inp-decision " data-bind="kendoDropDownList: { data: df.allAction, value:whenFailed}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="input">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-info btn-xs inp-input" data-bind="" onclick="df.addParamInput();">Add parameter</a>
                                </td>
                            </tr>
                            <!-- ko foreach: input -->
                            <tr>
                                <td>
                                    <input class="inp-global" data-bind="value:key" placeholder="Fill parameter name">
                                </td>
                                <td>
                                    <input class="inp-global" data-bind="value:value" placeholder="Fill parameter value">
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-xs" data-bind="attr:{index:idx}" onclick="df.deleteParamInput(event);">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                             <!-- /ko -->
                        </tbody>
                    </table>
                </div>
              <div class="tab-pane" id="output">
                    <table>
                        <tbody>
                            <tr>
                                <td>Type</td>
                                <td colspan='2'>
                                    <input type="text" class="inp-decision mgLeft-25" data-bind="kendoDropDownList: { data: df.outputType, value:output.type}">
                                </td>
                            </tr>
                            <tr>
                                <td>Output Path</td>
                                <td colspan='2'>
                                    <input type="text" class="inp-custom mgLeft-25" data-bind="value:output.path" placeholder="Fill output file path">
                                    <button class="btn pd-custom fileChooserBtn">..</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-info btn-xs" data-bind="" onclick="df.addParamOutput();">Add parameter</a>
                                </td>
                            </tr>
                            <!-- ko foreach: output.param -->
                            <tr>
                                <td>
                                    <input class="inp-global" data-bind="value:key" placeholder="Fill parameter name">
                                </td>
                                <td>
                                    <input class="inp-global" data-bind="value:value" placeholder="Fill parameter value">
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-xs" data-bind="attr:{index:idx}" onclick="df.deleteParamOutput(event);">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                             <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <table  id= "decision" data-bind="with:df.decisionModel, visible: (df.popoverMode() == 'Decision')">
            <tbody>
                 <tr class="forktr">
                    <td>Is fork</td>
                    <td>
                        <input type="checkbox" class="" data-bind="checked:df.isFork" placeholder="">
                    </td>
                </tr>
                <!-- ko foreach:df.arrayconn -->
                <tr data-bind="visible: !df.isFork()" class="dectr">
                    <td>If</td>
                    <td>
                        <input type="text" class="inp-fork " data-bind="value:stat" placeholder="">
                    </td>
                    <td>go to</td>
                    <td>
                        <input type="text" disabled="disabled" class="inp-fork inp-right" data-bind="value:flowaction" placeholder="">
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div style="clear:both;"></div>
        <!-- <a class="btn btn-sm btn-warning pull-left" data-bind="" onclick="df.closePopover('#popbtn');">Cancel</a>
        <a class="mgBottom btn btn-sm btn-primary pull-right" onclick="df.saveActionData();" data-bind="">Save</a> -->
</script>

<div class="divTitleDF" data-bind="with:df">
    <div class="col-md-12">
        <input class="pTitle inline-edit" data-bind="value:Name" placeholder="Add Title" ></input>
    </div>
    <div class="col-md-12">
    	<input class="pDesc inline-edit" data-bind="value:Description" placeholder="Add Description" ></input>
    </div>
</div>

<div class="divContext" onclick="df.setContext();">
    <span title="Set Global Variable" class="glyphicon glyphicon-cog"></span>
</div>

</div>


<div class="col-md-12" data-bind="visible:df.Mode()=='Grid'">
    <ol class="breadcrumb bc-custom">
		<li>Data Flow</li>
	</ol>
    <div class="col-md-12 mgTop15">
        <input class="form pull-left search-txt" onkeyup="df.Search();" placeholder="Search by name, description, create by ..."></input>
        <button class="btn btn-success pull-right" onclick="df.newDF();"><span class="glyphicon glyphicon-plus"></span> New</button>
    </div>
	<div class="col-md-12 mgTop15"><div id="dataFlowGrid"></div></div>
</div>

<style>
        .forktr td:first-child{
            width:50px!important;
        }

        .search-txt{
            border-radius: 1px;
            min-height: 29px;
            min-width: 300px;
            padding: 0 8px;
            border-top: 1px solid #c0c0c0;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);

            padding-right: 14px;
            padding-right: 4px \9;
            padding-left: 14px;
            padding-left: 4px \9;
            margin-bottom: 0;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }

        .btn-transition{
            border-radius: 8px;
            font-size: 10px;
        }

        .textareabtn{
            vertical-align: 100%;
        }

		.popover{
			max-width: 500px!important;
            min-width: 300px!important;
            min-height: 250px!important;
            max-height: 350px!important;
            overflow-y:scroll;
		}

        .popover-content .ct-custom{
            max-width: 500px!important;
            min-width: 300px!important;
            min-height: 200px!important;
        }

		.popover-content .col-md-4{
			padding-right: 0px;
		}

		.popover-content .col-md-8{
			padding-left: 0px;
			padding-right: 0px;
		}

        .popover-title{
            cursor:move;
        }

		.divTitleDF{
	    	position: absolute;
	    	top: 215px !important;
	    	left: 34%;
	    	text-align: center;
	    	width: 30.6%;
	    	height: 10%;
	    	opacity: 0.6;
	    	cursor: pointer;
		}

        .divTitleDF div:first-child{
           height: 28px!important;
        }

        .pdLeft30{
            padding-left:30px;
        }

        .pdLeft7{
            padding-left:7px;
        }

        .divTitleDF div:nth-child(2){
           height: 20px!important;
        }

        .divContext{
            position: absolute;
            top: 225px !important;
            left: 96.4%;
            text-align: center;
            vertical-align: middle;
            width: 2.6%;
            height: 3%;
            opacity: 0.6;
            cursor: pointer;
        }

        .divContext .glyphicon{
            font-size: 20px;
        }

        td:first-child{
            width: 80px!important;
        }

        .dectr td:first-child{
            width: 20px!important;
        }

        .dectr td:nth-child(3){
            width: 36px;
            text-align: center;

        }

		.pTitle{
			font-weight: bold;
    		font-size: large;
		}

        .pDesc{
            width: 100%;
        }

		.mgLeft{
			margin-left: 25px;
		}

		.mgRight{
			margin-right: 25px;
		}

        .mgRight10{
            margin-right: 10px;
        }

		.mgBottom{
			margin-bottom: 10px;
		}

        .mgTop10{
            margin-top:10px;
        }

        .arrow{
            display: none!important;
        }

       #sortable-All {
            min-height: 40px;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            border: 1px solid #dddddd;
            border-radius: 4px;
            float: left;
            /*max-height: 400px;*/
            /*min-width: 120px;*/
            /*overflow-y: scroll;*/
        }

        .list-left {
        	vertical-align: middle!important;
            list-style-type: none;
            width: 45px;
            height: 45px;
            margin: 5px;
            line-height: 30px;
            text-align: center;
            background-color: #E8EFF7;
            color: #000000;
            border-radius: 3px;
            cursor: move;
            background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: 50% 50%;
			border: 1px solid #CCC;
        }

       .placeholder {
            border: 1px dashed #ccc;
            background-color: #fff!important;
            color: #333;
        }

        .hint {
            opacity: 0.4;
        }
        .k-layer{
            width: 100%!important;
            height: 100%!important;
        }

        circle{
           /* stroke: #000000!important;
            stroke-width: 9px!important;*/
            opacity: 0.4!important;
        }

        circle:hover{
     /*       stroke: #000000;
            stroke-width: 20px!important;
            height: 120%!important;
            width: 120%!important;*/
            opacity: 0.75!important;
        }
        .ct-custom{
            font-size: 12px;
        }
        .pd-custom{
            padding: 1px 6px;
            border-radius: 0px;
        }
        .inp-custom{
            margin: 5px -2px 5px 5px;
            width: 220px;
        }
        .inp-decision{
            margin: 4px;
            width: 220px;
        }
        .inp-mapfiles{
            margin: 5px -2px 5px 0;
            width: 278px;
        }
        .inp-global{
            margin: 5px 5px 5px 0;
            width: 180px;
        }
        .inp-fork{
            margin: 5px 5px 2px 0;
            width: 150px;
        }
        .mgLeft-25{
            margin-left: -25px;
        }
        input.inline-edit{
            border: none;
            padding: 0;
            margin: 10px 0 5px;
            text-align: inherit;
            vertical-align: top;
        }

        input.inline-edit:hover,
        input.inline-edit:focus{
          background-color: #FFD;

          -webkit-transition: background-color 0.5s;
             -moz-transition: background-color 0.5s;
              -ie-transition: background-color 0.5s;
                  transition: background-color 0.5s;
        }

        .glyphicon-cog {
            border-radius: 50%;
            -webkit-transition: -webkit-transform .8s ease-in-out;
            transition: transform .8s ease-in-out;
        }
        .glyphicon-cog:hover {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        .modal-dialog{
            width: 450px;
        }

        .status-grid{
            left: 14%;
            position: relative;
		}
        @media screen and (max-width: 1165px) {
            .sidebar {
                z-index: 999;
            }
            .designer {
                padding-left: 100px!important;
            }
        }
</style>
