<!-- core -->
<link href="/res/widget/gridstack.css" rel="stylesheet">
<link href="/res/widget/gridstack-extra.css" rel="stylesheet">

<script src="/res/core/page-designer.js"></script>
<script src="/res/widget/gridstack.js"></script>
<script src="/res/widget/widgetdesigner.js"></script>
<style type="text/css">
		ul, li {list-style-type: none;}
</style>
<script>
	pg.pageID = "{{.pageID}}";
	// pg.title = "{{.title}}";
	// pg.href = "{{.href}}";
</script>

<style type="text/css">
	.k-widget.k-dropdown, .k-widget.k-numerictextbox{
		width: 100%;
	}
</style>

<div class="col-xs-6 col-sm-2" id="sidebar">
	<div class="row">
		<ul class="nav">
			<li class="grid-stack-item" boolRemove="false"><div class="grid-stack-item-content"><a href="#">Widget 1</a></div></li>
			<li class="grid-stack-item" boolRemove="false"><div class="grid-stack-item-content"><a href="#">Widget 2</a></div></li>
			<li class="grid-stack-item" boolRemove="false"><div class="grid-stack-item-content"><a href="#">Widget 3</a></div></li>
		</ul>
	</div>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-10" id="content" data-bind="with: PageDesigner">
	<div class="col-md-12" data-bind="visible: (app.section() == 'pagedesigner')">
		<h1>Page Designer</h1>
		<nav class="navbar" data-bind="visible: (app.mode() == '')">
            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: configPage">
	    		<span class="glyphicon glyphicon-refresh"></span> Configuration
	    	</button>
            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: function(e) {pg.widgetSetting('wp1459947140191', 'modal')}">
	    		<span class="glyphicon glyphicon-plus"></span> Pop up Widget
	    	</button>
	    	<button class="btn btn-sm btn-primary navbar-btn" data-bind="click: function(e) {pg.widgetPage('page02', 'wp0000000000', 'widget2', 'new widget')}">
	    		<span class="glyphicon glyphicon-plus"></span> dummy widget 2
	    	</button>
		</nav>

		<nav class="navbar" data-bind="visible: (app.mode() == 'configpage')">
			<button class="btn btn-sm btn-info navbar-btn" data-bind="click: backToConfig">
				<span class="glyphicon glyphicon-chevron-left"></span> Back
			</button>
			<button class="btn btn-sm btn-success navbar-btn" data-bind="click: saveConfig">
				<span class="glyphicon glyphicon-save"></span> Save
			</button>
		</nav>
		<div class="panel" data-bind="visible: (app.mode() == 'configpage')">
			<div class="panel-heading">
		        <h1 class="panel-title">
		        	Data Source
	        	</h1>
		    </div>
		    <div class="clearfix">&nbsp;</div>
			<div class="panel-body">
				<form class="form-horizontal form-widgetDesigner" data-bind="with: configPageDesigner" novalidate>
			    	<div class="col-md-12">
			    		<div class="col-md-12">
							<!-- <label class="col-md-3 databrowser-label"></label> -->
				    		<div class="col-md-7">
					    		<select required data-bind="kendoMultiSelect:{ autoClose: false, data: pg.allDataSources, value: dataSources }" name="datasource" id="datasource">
					    		</select>
					    		<span class="k-invalid-msg" data-for="datasource"></span>
				    		</div>
						</div>
			    	</div>
			    </form>
			</div>
		</div>
		<div class="panel" data-bind="visible: (app.mode() == '')">
			<div class="col-md-12">
				<div data-bind="component: {name: 'widget-grid', params: $data}"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>

	<!-- Modal DataSource -->
	<div class="modal fade modal-widgetsetting" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="width: 50%;">
			<div class="modal-content" data-bind="with: dsMapping">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: pg.closeWidgetSetting">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" data-bind="text: pg.previewMode() == '' ? 'Data Source' : 'Widget Setting'">
					</h4>
				</div>

				<div class="modal-body">
					<div data-bind="visible: (app.mode() == 'datasourceMapping')">
						<div class="form-horizontal" id="dsWidget" data-bind="with: pg.widgetSettings">
							<div class="form-group">
								<label for="title" class="col-sm-2 control-label">Title</label>
								<div class="col-sm-10">
									<input required type="text" class="form-control" id="title" name="title" placeholder="Title" data-bind="value: title">
									<span class="k-invalid-msg" data-for="title"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="position" class="col-sm-2 control-label">Position</label>
								<div class="col-sm-10">
									<select required id="position" data-bind="kendoDropDownList: { data: pg.widgetPosition, dataValueField: 'value', dataTextField: 'text', value: position, optionLabel: 'Select Position' }"></select>
									<span class="k-invalid-msg" data-for="position"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="width" class="col-sm-2 control-label" data-bind="text: (position() == 'fixed')?'Width Column':'Width'">Width</label>
								<div class="col-sm-10" data-bind="visible: (position() == 'fixed')">
									<input required type="number" class="" id="width" name="width" min="0", max= "12" placeholder="Width" data-bind="kendoNumericTextBox:{value: width, min: 0, max: 12}">
									<span class="k-invalid-msg" data-for="width"></span>
								</div>
								<div class="col-sm-10" data-bind="visible: (position() == 'absolute')">
									<input required type="number" class="" id="width" name="width" min="0" placeholder="Width" data-bind="kendoNumericTextBox:{value: width, min: 0}">
									<span class="k-invalid-msg" data-for="width"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="height" class="col-sm-2 control-label">Height</label>
								<div class="col-sm-10">
									<input required type="number" class="" id="height" name="height" min="0" placeholder="Height" data-bind="kendoNumericTextBox:{value: height, min: 0}">
									<span class="k-invalid-msg" data-for="height"></span>
								</div>
							</div>

							<div data-bind="foreach: pg.dsMapping.field">
								<div class="form-group">
									<label class="col-sm-2 control-label" data-bind="text: $data.dsWidget"></label>
									<!-- <input type="text" class="form-control" id="" data-bind="value: $data.dsWidget,enable: false"> -->
									<div class="col-sm-10">
										<select required id="ds" data-bind="kendoDropDownList: { data: pg.dsWidgetFromPage, dataValueField: 'value', dataTextField: 'text', value: $data.dsColony, optionLabel: 'Select one' }, attr: { id: 'ds' + $index(), name: 'ds' + $index()}"></select>
									    <span class="k-invalid-msg" data-for="ds" data-bind="attr: { 'data-for': 'ds' + $index() }"></span>
								    </div>
								</div>
							</div>
						</div>
			        	
		        	</div>

		        	<div class="form-group" data-bind="visible: (app.mode() == 'fieldMapping')">
				    	<div class="col-md-12" style="padding-left:45px; padding-right:45px;">
				    		<iframe class="full-width" id="formSetting" width="100%" height="300" scrolling="no"  frameborder="0"></iframe>
			        	</div>
			        	<div class="clearfix"></div>
			        	<!-- <div id="formSetting"></div> -->
		        	</div>
	        	</div>

				<div class="modal-footer">
					<div data-bind="visible: (app.mode() == 'datasourceMapping')">
						<button type="button" class="btn btn-sm btn-danger" data-bind="click: pg.closeWidgetSetting">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
						<button type="button" class="btn btn-sm btn-primary" data-bind="click: pg.fieldMapping">
							Next <span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</div>

					<div data-bind="visible: (app.mode() == 'fieldMapping')">
						<button type="button" class="btn btn-sm btn-default" data-bind="click: function(e) {pg.widgetSetting('wp1459947140191', 'back')}">
							<span class="glyphicon glyphicon-chevron-left"></span> Back
						</button>
						<button type="button" class="btn btn-sm btn-danger" data-bind="click: pg.closeWidgetSetting">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
						<!-- <button type="button" class="btn btn-sm btn-primary" data-bind="click: pg.fieldMapping">
							<span class="glyphicon glyphicon-save"></span> Save
						</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
