<!-- core -->
<script src="/res/core/page-dataflow.js"></script>

<style>
.btn-nav-container {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 3px;
}
.sidebar {
	padding-right: 0px;
}
.designer {
	padding-left: 0px;
	padding-top: 20px;
}
</style>

<div class="col-xs-12 col-sm-12" id="content" data-bind="with: dataflow">
	<div class="col-md-12" data-bind="visible: (app.section() == '')">
		<ol class="breadcrumb bc-custom">
			<li>Data Flow Designer</li>
			<div class="pull-right">
				<button class="btn btn-danger"><span class="glyphicon glyphicon-repeat"></span></button>
				<button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span></button>
				<button class="btn btn-success mgLeft" data-bind="click: df.run">
			    		<span class="glyphicon glyphicon-play"></span>
			    	</button>
			</div>
		</ol>

		<div class="row dataflow-content">
			<div class="col-md-1 sidebar" data-bind="visible: (app.section() == '')">
				<div class="btn-nav-container">
					<!-- <button class="btn btn-sm btn-primary mgTop15" data-bind="click: df.run">
			    		<span class="glyphicon glyphicon-play"></span> Run
			    	</button> -->
		    	</div>

				  <div data-bind="foreach:ActionItems" id="sortable-All" style="min-height: 110px;">
		              <div data-bind="css: Name,attr:{name: Name,image:Image,id:Id,color:Color,title:Name},style:{ 'backgroundImage': 'url(/res/img/'+Image+')' }" class="list-left tooltipster"></div>
		          </div>
			</div>
			
			<div class="col-md-11 designer" data-bind="visible: (app.section() == '')">
				<div class="diagram"></div>
			</div>
		</div>
	</div>
</div>
-<button style="display:none" title="asd" data-content="" id="popbtn"></button>

<style>
		.mgLeft{
			margin-left: 25px;
		}

       #sortable-All {
            min-height: 40px;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            border: 1px solid #dddddd;
            border-radius: 4px;
            float: left;
            /*max-height: 400px;*/
            /*min-width: 120px;*/
            /*overflow-y: scroll;*/
        }

        .list-left {
        	vertical-align: middle!important;
            list-style-type: none;
            width: 50px;
            height: 50px;
            margin: 5px;
            line-height: 30px;
            text-align: center;
            background-color: #E8EFF7;
            color: #000000;
            border-radius: 3px;
            cursor: move;
            background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: 50% 50%;
			border: 1px solid #CCC;
        }

       .placeholder {
            border: 1px dashed #ccc;
            background-color: #fff!important;
            color: #333;
        }

          .hint {
            opacity: 0.4;
        }
        .k-layer{
            width: 100%!important;
            height: 100%!important;
        }

        circle{
            stroke: #000000!important;
            stroke-width: 9px!important;
            opacity: 0.4;
        }

        circle:hover{
            stroke: #000000;
            stroke-width: 20px!important;
            height: 120%!important;
            width: 120%!important;
            opacity: 0.75;
        }
</style>