<!-- core -->
<link rel="stylesheet" href="/res/js/codemirror/codemirror.css">
<script src="/res/js/codemirror/codemirror.js"></script>
<script src="/res/js/codemirror/xml.js"></script>
<script src="/res/js/codemirror/active-line.js"></script>

<script src="/res/core/page-application.js"></script>
<script src="/res/core/page-server.js"></script>

<!-- sidebar -->
<div class="col-xs-6 col-sm-2" id="sidebar">
	<div class="row">
		<ul class="nav">
			<li><a href="#" data-bind="css: { 'active': (app.section() == 'application') }, click: app.changeActiveSection('application')">Application<span class="fa-pull-right"><i class="fa fa-server"></i></span></a></li>
			<li><a href="#" data-bind="css: { 'active': (app.section() == 'servers') }, click: app.changeActiveSection('servers')">Servers<span class="fa-pull-right"><i class="fa fa-database"></i></span></a></li>
		</ul>
	</div>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-10" id="content">
	<div class="col-md-12" data-bind="with: application, visible: (app.section() == 'application')">
		<h1>Application</h1>

		<nav class="navbar" data-bind="visible: (app.mode() == '')">
			<div class="nav1">
				 <button class="btn btn-sm btn-success" data-bind="click: apl.createNewApplication">
			    		<span class="glyphicon glyphicon-plus"></span> Add
			    </button>
		    	<button class="btn btn-sm btn-danger" data-bind="click: apl.OnRemove"><span class="glyphicon glyphicon-remove"></span> Delete</button>
				<div class="form-group row nav2">
					<div class="col-sm-10">
						<label class="col-sm-2 filter-label lbl">Search</label>
						<div class="col-sm-3">
			               <input type="text" class="input-sm form-control" > <!-- data-bind="value: apl.filterValue, valueUpdate: 'afterkeydown', 'input', event: {'keyup': ApplicationFilter}" -->
			            </div>
			        </div>
		    	</div>
		    </div>
		</nav>

		<div class="panel" data-bind="visible: (app.mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Application</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="grid grid-data-application grid-application" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: apl.applicationData, selectable: 'multiple, row', change: apl.selectApps, columns: apl.applicationColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-data-application') }"></div>
		    </div>
		</div>
		<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
			<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: apl.backToFront">
	    		<span class="glyphicon glyphicon-chevron-left"></span> Back
	    	</button>
	    	<button class="btn btn-sm btn-primary" data-bind="click: apl.saveApplication" >
	    		<span class="glyphicon glyphicon-save"></span>Save
	    	</button>
	    	<button class="btn btn-sm btn-danger" data-bind="visible: (apl.applicationMode() != '')">
	    		<span class="glyphicon glyphicon-remove"></span>Delete
	    	</button>
		</nav>
		<ul id="myTab" class="nav nav-tabs" data-bind="visible: (app.mode() == 'editor')">
	      <li class="active"><a href="#Form" data-toggle="tab">Form</a></li>
	      <li><a href="#Editor" data-toggle="tab">Editor</a></li>
	    </ul>
		<div class="panel" data-bind="visible: (app.mode() == 'editor')" style="width: 100%;">
			<div class="panel-heading">
		        <h1 class="panel-title"><span data-bind="text: (apl.applicationMode() == '') ? 'Create New' : 'Edit'"></span>
		        </h1>
		    </div>
		    <div class="panel-body">
			    <div id="myTabContent" class="tab-content">
			    	<div class="tab-pane fade in active" id="Form">
			    		<form class="form-horizontal form-application" id="form-add-Application" data-bind="with: configApplication" novalidate>
				    		<div class="col-md-12">
					    		<div class="form-group row">
						    		<label class="col-md-3 filter-label">ID</label>
						    		<div class="col-md-3">
						    			<input required class="form-control input-sm" id="ID" name="ID"  type="text" data-bind="value: _id, enable: (apl.applicationMode() == '')"/>
						    			<span class="k-invalid-msg" data-for="ID"></span>
						    		</div>
						    		<label class="col-md-2 filter-label">Enable</label>
						    		<div class="col-md-2">
						    			<input required type="checkbox" id="Enable" data-bind="checked: Enable" />
						    			<span class="k-invalid-msg" data-for="Enable"></span>
						    		</div>
					    		</div>
					    		<div class="form-group row">
						    		<label class="col-md-3 filter-label">Name</label>
						    		<div class="col-md-3">
						    			<input required class="form-control input-sm" id="name" name="name" type="text" data-bind="value: AppsName" />
						    			<span class="k-invalid-msg" data-for="name"></span>
						    		</div>
						    		<div class="col-sm-4 btn-upload">
							    		<span class="btn btn-sm btn-success btn-file">
										    <span class="glyphicon glyphicon-upload"></span>Upload <input required id="files" name="files" type="file" accept=".zip">
										</span>
										 <span class="k-invalid-msg" data-for="files"></span>
										<span id="nama" data-bind="value:AppPath"></span>
									</div>
					    		</div>
					    		<!-- <div class="form-group row"> 
					    			<button class="btn btn-sm btn-primary btn2"><span class="glyphicon-plus"></span>New File</button> 
					    		</div> -->

				    		</div>
				    	</form>
			    	</div>
				    <div class="tab-pane fade" id="Editor">
				    	<div class="col-md-12">
				    		<div class="col-md-12 action-button">
				    			<button class="btn btn-sm btn-success" id="btnNewFileDir" data-bind="visible:apl.appTreeMode() !== ''"><span class="glyphicon glyphicon-file"></span> New File</button>
				    			<button class="btn btn-sm btn-danger" id="btnRemoveDir" data-bind="visible:apl.appTreeMode() !== ''"><span class="glyphicon glyphicon-remove"></span> Remove File</button>
				    		</div>
					    	<div class="col-md-12 bd1 headercustom">
					            <div class="col-md-4">
					    		    <div class="form-group">
							    		<label class="col-md-3 pdTop6">Search :</label>
							    		<div class="col-md-6">
							    			<input class="form-control input-sm inputcustom" id="searchDirectori" type="text" data-bind="event:{keyup:apl.searchTreeView}"/>
							    		</div>
							    		<div class="col-md-3">
					            			<button class="btn btn-sm btn-primary navbar-btn bd0 mg0 bdcolornone" >Refresh</button>	
							    		</div>
						    		</div>
							    </div>
					    		<div class="col-md-8">
					    			<label class="col-md-11 pdTop6" id=""></label>
					            	<button class="btn btn-sm btn-primary navbar-btn col-md-1 bd0 mg0 bdcolornone" >Save</button>
					    		</div>
					    	</div>
					    	<div class="col-md-12 bd1">
					            <div class="col-md-4">			    		
					            	<div id="example">
							            <div class="tvcustom">
							                <div id="treeview-left" data-bind="value: (apl.treeView() == '')"></div>
							            </div>
							        </div>
					    		</div>
					    		<div class="col-md-8">			    		
					    			<textarea class="form-control tacustom" id="scriptarea" rows="13"></textarea>
					    		</div>
				    		</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12" data-bind="visible: (app.section() == 'servers'), with: servers">
		{{template "page-servers.html"}}
	</div>
</div>
