<!-- core -->
<!-- <script src="/res/core/page-databrowserdesign.js"></script> -->
<script src="/res/core/page-datasource.js"></script>
<!-- <script src="/res/core/page-datasource-query.js"></script> -->

<!-- main area -->
<div class="col-md-12">
	<nav class="navbar" >
        <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: db.saveAndBack">
    		<span class="glyphicon glyphicon-chevron-left"></span> Save and Back to List
    	</button>
        <button class="btn btn-sm btn-success navbar-btn" >
    		<span class="glyphicon glyphicon-plus"></span> Save and Go to View
    	</button>
    	<button class="btn btn-sm btn-danger navbar-btn" id="removeWebGrabber" data-bind="click: db.backToFront">
    		<span class="glyphicon glyphicon-remove"></span> Cancel
    	</button>
	</nav>

	<div class="panel">
		<div class="panel-heading">
	        <h1 class="panel-title"><span >Data Browser Design</span>
	        </h1>
	    </div>
		<div class="panel-body">
	    	<form class="form-horizontal form-databrowserdesign" data-bind="with: db.configDataBrowser" novalidate>
		    	<div class="col-md-12">
		    		<div class="col-md-12">
			    		<div class="col-md-6">
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">ID</label>
					    		<div class="col-md-7">
					    			<input required type="text" class="form-control input-sm" name="ID" placeholder="Type the the ID Here" data-bind="value: _id, enable: (app.mode() == '')">
									<span class="k-invalid-msg" data-for="ID"></span>					    			
					    		</div>
				    		</div>
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Name</label>
					    		<div class="col-md-7">
					    			<input required type="text" class="form-control input-sm" name="BrowserName" placeholder="Type the the browser name Here" data-bind="value: BrowserName">
									<span class="k-invalid-msg" data-for="BrowserName"></span>					    			
					    		</div>
				    		</div>
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Free Text Query</label>
					    		<div class="col-md-7">
						    		<input type="checkbox" id="isFreetext">
					    		</div>
				    		</div>
			    		</div>
			    		<div class="col-md-6">
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Description</label>
					    		<div class="col-md-7">
					    			<input required type="text" class="form-control input-sm" name="description" placeholder="Type the description" data-bind="value: Description">
									<span class="k-invalid-msg" data-for="description"></span>   			
					    		</div>
				    		</div>
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Connection</label>
					    		<div class="col-md-7">
					    			<select required id="connectionlist" data-required-msg="Connection cannot be empty" name="connectionlist" data-placeholder="Select Connection" class="form-control col-100" data-bind="kendoComboBox: {data: viewModel.datasource.connectionListData, dataTextField: '_id', dataValueField: '_id', placeholder: 'Type something here', value: ConnectionID, change: db.populateTable, filter: 'contains', suggest: true, minLength: 2}">
							        </select>
							        <span class="k-invalid-msg" data-for="connectionlist"></span>
					    		</div>
				    		</div>
			    		</div>
			    	</div>
			    	<div class="col-md-12">
			    		<div class="col-md-6" id="fromTable">
			    			<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Table</label>
					    		<div class="input-group col-md-7">
						    		<select required id="table" data-required-msg="Table cannot be empty" name="table" class="form-control col-100" data-bind="kendoDropDownList: { data: db.collectionListData, dataValueField: 'value', dataTextField: 'text', optionLabel: 'Select one', filter: 'contains', suggest: true, minLength: 2 }">
							        </select>
							        <span class="k-invalid-msg" data-for="table"></span> 
					    		</div>
				    		</div>
				    		<div class="form-group">
				    			<label class="col-md-3"></label>
				    			<div class="col-md-7">
				    				 <button class="btn btn-primary" type="button" data-bind="click: db.testQuery">Builder</button>
				    			</div>
				    		</div>
			    		</div>
			    		<div class="col-md-6" id="querytype">
			    			<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Query Type</label>
					    		<div class="col-md-7">
						    		<select id="querytype" data-required-msg="Query Type cannot be empty" name="querytype" data-placeholder="Select Query Type" class="form-control col-100" data-bind="kendoDropDownList: { data: db.queryType, dataValueField: 'value', dataTextField: 'text', value: QueryType, optionLabel: 'Select Query Type' }">
							        </select>
							        <span class="k-invalid-msg" data-for="querytype"></span>
					    		</div>
				    		</div>
			    		</div>
			    		<div class="col-md-12" id="freeQuery">
			    			<div class="form-group">
					    		<label class="col-md-2 databrowser-query-label query-text">Query Text</label>
					    		<div class="input-group col-md-11">
								<input type="textquery" name="textquery" class="form-control" placeholder="Query builder">
									<span class="input-group-btn">
									<button class="btn btn-primary" type="button">Builder</button>
									</span>
								</div>
				    		</div>
			    		</div>
			    	</div>
			    </div>
		    </form>
		    <div class="col-md-12">
		    	<div class="grid grid-databrowser-design" id="grid-databrowser-design" data-bind="kendoGrid: { 
			    	dataSource: { 
			    		pageSize: 15, 
			    		batch: true,
			    		schema: { 
			    			model: { 
			    			id: 'Field', 
			    			fields: { 
			    				Field: { editable: false }, 
			    				Label: { type: 'string' },
			    				Format: { type: 'string' },
			    				Align: { type: 'string' },
			    				ShowIndex: { 
			    					type: 'number', 
			    					editable: false
		    					},
		    					Sortable: { type: 'boolean' }, 
		    					SimpleFilter: { type: 'boolean' }, 
		    					AdvanceFilter: { type: 'boolean' }, 
		    					Aggregate: { type: 'string' }
		    				} 
	    				} 
					} 
				}, data: db.databrowserData, selectable: 'multiple, row', columns: db.databrowserColumns, editable: true, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-databrowser-design') }"></div> 
		    </div>
	    </div>
	</div>
</div>