<style>
	.no-left-padding {
		padding-left: 0px;
	}
</style>

<h1>User</h1>

<nav class="navbar" data-bind="visible: (app.mode() == '')">
    <button class="btn btn-sm btn-primary navbar-btn" >
		<span class="glyphicon glyphicon-refresh"></span> Refresh
	</button>
    <button class="btn btn-sm btn-success" data-bind="click: usr.createNewUser">
			<span class="glyphicon glyphicon-plus"></span> Add
    </button>
	<button class="btn btn-sm btn-danger navbar-btn" >
		<span class="glyphicon glyphicon-remove"></span> Delete
	</button>
</nav>

<nav class="navbar no-padding" data-bind="visible: (app.mode() == '')">
	<div class="col-md-4">
		<div class="form-group">
			<label class="col-md-4 filter-label no-left-padding">
				Search
			</label>
			<div class="col-md-8">
				<input class="form-control full-width input-sm searchsrv" name="search" placeholder="Type keyword here" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</nav>

<div class="panel" data-bind="visible: (app.mode() == '')">
    <div class="panel-heading">
        <h1 class="panel-title">User</h1>
    </div>
    <div class="panel-body">
    	<!-- <div class="grid grid-server" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: srv.ServerData, selectable: 'multiple, row', change: srv.selectGridServer, columns: srv.ServerColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-server')}"></div> -->
    </div>
    <p class="bg-danger bgcustom">Please click row to edit!</p>
</div>

<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
	<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: usr.backToFront">
		<span class="glyphicon glyphicon-chevron-left"></span> Back
	</button>
    <button class="btn btn-sm btn-primary navbar-btn" >
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
	<button class="btn btn-sm btn-danger navbar-btn" id="removeOnEditGroup" >
		<span class="glyphicon glyphicon-remove"></span> Delete
	</button>
</nav>

<div class="panel" data-bind="visible: (app.mode() == 'editor')" style="width: 800px;">
	<div class="panel-heading">
        <h1 class="panel-title"><span data-bind="text: (usr.Usermode() == '') ? 'Create New' : 'Edit'"></span>
        </h1>
    </div>
    <div class="panel-body">
    	<form class="form-horizontal form-server" id="form-add-Server" novalidate>
	    	<div class="col-md-6">
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">ID</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for ID" type="text" class="form-control input-sm" name="ID" placeholder="Type the ID Here" >
						<span class="k-invalid-msg" data-for="ID"></span>		    			
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Login ID</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Login ID" type="text" class="form-control input-sm" name="LoginID" placeholder="Type the Login ID Here" >
						<span class="k-invalid-msg" data-for="LoginID"></span>	    			
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">FullName</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for FullName" type="text" class="form-control input-sm" name="FullName" placeholder="Type the FullName Here" >
						<span class="k-invalid-msg" data-for="FullName"></span>	    			
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Email</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Email" type="text" class="form-control input-sm" name="Email" placeholder="Type the Email Here" >
						<span class="k-invalid-msg" data-for="Email"></span>	    			
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Password</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Password" type="text" class="form-control input-sm" name="Password" placeholder="Type the Password Here" >
						<span class="k-invalid-msg" data-for="Password"></span>		    			
		    		</div>
	    		</div>   		
    		</div>
    			<div class="col-md-6">	    		
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Enable</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Enable" type="text" class="form-control input-sm" name="Enable" placeholder="Type the Enable Here" >
						<span class="k-invalid-msg" data-for="Enable"></span>	    			
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Groups</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Groups" type="text" class="form-control input-sm" name="Groups" placeholder="Type the Groups Here" >
						<span class="k-invalid-msg" data-for="Groups"></span>	    			
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Grants</label>
		    		<div class="col-md-7">
		    			<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Grants" type="text" class="form-control input-sm" name="Grants" placeholder="Type the Grants Here" >
						<span class="k-invalid-msg" data-for="Grants"></span>	    			
		    		</div>
	    		</div>   		
    		</div>
    	</form>
    </div>
</div>
