<!-- core -->
<link rel="stylesheet" href="/res/js/codemirror/codemirror.css">
<script src="/res/js/codemirror/codemirror.js"></script>
<script src="/res/js/codemirror/xml.js"></script>
<script src="/res/js/codemirror/active-line.js"></script>

<script src="/res/core/page-application.js"></script>
<script src="/res/core/page-server.js"></script>

<!-- sidebar -->
<div class="col-xs-6 col-sm-2" id="sidebar">
	<div class="row">
		<ul class="nav">
			<li><a href="#" data-bind="css: { 'active': (app.section() == 'application') }, click: app.changeActiveSection('application')">Application<span class="fa-pull-right"><i class="fa fa-server"></i></span></a></li>
			<li><a href="#" data-bind="css: { 'active': (app.section() == 'servers') }, click: app.changeActiveSection('servers')">Servers<span class="fa-pull-right"><i class="fa fa-database"></i></span></a></li>
		</ul>
	</div>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-10" id="content">
	<div class="col-md-12" data-bind="with: application, visible: (app.section() == 'application')">
		<h1>Application</h1>

		<nav class="navbar" data-bind="visible: (app.mode() == '')">
			<div class="nav1">
				 <button class="btn btn-sm btn-success" data-bind="click: apl.createNewApplication">
			    		<span class="glyphicon glyphicon-plus"></span> Add
			    </button>
		    	<button class="btn btn-sm btn-danger" data-bind="click: apl.OnRemove"><span class="glyphicon glyphicon-remove"></span> Delete</button>
		    </div>
		</nav>

		<nav class="navbar no-padding" data-bind="visible: (app.mode() == '')">
			<div class="col-md-4">
				<label class="col-md-4 filter-label">
					Search
				</label>
				<div class="col-md-8">
					<input class="form-control full-width input-sm" type="text" placeholder="Type keyword here" />
				</div>
			</div>
		</nav>

		<div class="panel" data-bind="visible: (app.mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Application</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="grid grid-data-application grid-application" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: apl.applicationData, selectable: 'multiple, row', change: apl.selectApps, columns: apl.applicationColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-data-application') }"></div>
		    </div>
		    <p class="bg-danger bgcustom">Please click row to edit!</p>
		</div>

		<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
			<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: apl.backToFront">
	    		<span class="glyphicon glyphicon-chevron-left"></span> Back
	    	</button>
	    	<button class="btn btn-sm btn-primary" data-bind="click: apl.saveApplication" >
	    		<span class="glyphicon glyphicon-save"></span> Save
	    	</button>
	    	<button class="btn btn-sm btn-danger" data-bind="visible: (apl.applicationMode() != '')">
	    		<span class="glyphicon glyphicon-remove"></span> Delete
	    	</button>
		</nav>

		<ul id="myTab" class="nav nav-tabs" data-bind="visible: (app.mode() == 'editor')">
	      <li class="active"><a href="#Form" data-toggle="tab">Form</a></li>
	      <li data-bind="visible: (apl.applicationMode() != '')"><a href="#Editor"  data-toggle="tab">Editor</a></li>
	    </ul>

		<div class="panel" data-bind="visible: (app.mode() == 'editor')" style="width: 100%;">
			<div class="panel-heading">
		        <h1 class="panel-title"><span data-bind="text: (apl.applicationMode() == '') ? 'Create New' : 'Edit'"></span>
		        </h1>
		    </div>
		    <div class="panel-body">
			    <div id="myTabContent" class="tab-content">
			    	<div class="tab-pane fade in active" id="Form">
			    		<form class="form-horizontal form-application" id="form-add-Application" data-bind="with: configApplication" novalidate>
				    		<div class="col-md-12">
					    		<div class="form-group row">
						    		<label class="col-md-3 filter-label">ID</label>
						    		<div class="col-md-3">
						    			<input required class="form-control input-sm" id="ID" name="ID"  type="text" data-bind="value: _id, enable: (apl.applicationMode() == '')"/>
						    			<span class="k-invalid-msg" data-for="ID"></span>
						    		</div>
						    		<!-- <label class="col-md-2 filter-label">Enable</label>
						    		<div class="col-md-2">
						    			<input required type="checkbox" id="Enable" data-bind="checked: Enable" />
						    			<span class="k-invalid-msg" data-for="Enable"></span>
						    		</div> -->
					    		</div>
					    		<div class="form-group row">
						    		<label class="col-md-3 filter-label">Name</label>
						    		<div class="col-md-3">
						    			<input required class="form-control input-sm" id="name" name="name" type="text" data-bind="value: AppsName" />
						    			<span class="k-invalid-msg" data-for="name"></span>
						    		</div>
						    		<div class="col-sm-4 btn-upload">
							    		<div>
							    			<span class="btn btn-sm btn-success btn-file tooltipster" title="Select .zip file">
											    <span class="fa fa-file"></span> Upload .zip file 
											    <input required id="files" name="files" type="file" accept=".zip">
											</span>
											<span id="nama" data-bind="value:AppPath"></span>
							    		</div>
										<span class="k-invalid-msg" data-for="files"></span>
									</div>
					    		</div>
					    		<!-- <div class="form-group row"> 
					    			<button class="btn btn-sm btn-primary btn2"><span class="glyphicon-plus"></span>New File</button> 
					    		</div> -->

				    		</div>
				    	</form>
			    	</div>
				    <div class="tab-pane fade" id="Editor">
				    	<div class="col-md-12">
				    		<!-- <div class="col-md-12 action-button no-padding">
				    			<button class="btn btn-sm btn-success tooltipster" id="btnNewFileDir" data-bind="visible: apl.appTreeMode() === 'folder'|| apl.applicationMode() === '', click: apl.modalNewFileDir" title="Create new file/folder">
				    				<span class="glyphicon glyphicon-file"></span>
			    				</button>
				    			<button class="btn btn-sm btn-danger tooltipster" id="btnRemoveDir" data-bind="visible:apl.appTreeMode() !== '', click: apl.removeFileDir" title="Delete">
				    				<span class="glyphicon glyphicon-remove"></span>
				    			</button>
				    			<button class="btn btn-sm btn-warning tooltipster" data-bind="click: apl.modalRenameFile, visible:apl.appTreeMode() !== ''" title="Rename">
				    				<span class="glyphicon glyphicon-pencil"></span>
				    			</button>
				    			<button class="btn btn-sm btn-primary tooltipster" data-bind="visible: apl.appTreeMode() === 'file'|| apl.applicationMode() === '', click:apl.updateFileDir" title="Save changes">
				    				<span class="fa fa-save"></span>
			    				</button>
				    		</div> -->
					    	<!-- <div class="col-md-12 headercustom">
					            <div class="col-md-6">
					    		    <div class="col-md-10 form-group head-form">
							    		<label class="col-md-3 srch pdTop6">Search :</label>
							    		<div class="col-md-5 inpt-src">
							    			<div class="input-group">
										      <input class="form-control input-sm inputcustom" id="searchDirectori" type="text" data-bind="event:{keyup:apl.searchTreeView}"/>
										      <span class="input-group-btn">
										        <button class="btn btn-sm btn-default btncustom" data-bind="click:function(){apl.treeView(apl.configApplication._id())}"><i class="glyphicon glyphicon-search"></i></button>
										      </span>
										    </div>
										    <div class="trv-btn">
									    		<div class="btn-group btn-group-md" >
												  <button type="button" class="btn btn-primary btn-menu"  id="btnNewFileDir" data-bind="visible: apl.appTreeMode() === 'folder'|| apl.applicationMode() === '', click: apl.modalNewFileDir"><span class="glyphicon glyphicon-file"></span></button>
												  <button type="button" class="btn btn-primary btn-menu"  data-bind="visible:apl.appTreeMode() !== '', click: apl.removeFileDir"><span class="glyphicon glyphicon-remove"></span></button>
												  <button type="button" class="btn btn-primary btn-menu" data-bind="click: apl.modalRenameFile, visible:apl.appTreeMode() !== ''"><span class="glyphicon glyphicon-pencil"></span></button>
												  <button class="btn btn-sm btn-primary navbar-btn bd0 mg0 bdcolornone" data-bind="click:function(){apl.treeView(apl.configApplication._id())}"><span class="glyphicon glyphicon-refresh"></span></button>
												</div>
								    		</div>
							    		</div>
						    		</div>
							    </div>
							    <div class="col-md-3">
							    	<label class="col-md-3 pdTop6" id=""></label>
					    			<div id="nm-file" class="pdTop6"></div>
					    		</div>
					    		<div class="col-md-5">
					    			<label class="col-md-8 pdTop6" id="txt-path"></label>
					            	
					    		</div>
					    	</div> -->
					    	<div class="col-md-12 headercustom">
					            <div class="col-md-5 trv-4">
					    		    <!-- <div class="col-md-12"> -->
							    		<label class="col-md-3 srch pdTop6">Search</label>
							    		<div class="col-md-5 inpt-src">
											<input class="form-control input-sm inputcustom" id="searchDirectori" type="text" data-bind="event:{keyup:apl.searchTreeView}"/>
							    		</div>
										<div class="row-grup">
											<div class="onbutton gr" data-bind="click:function(){apl.treeView(apl.configApplication._id())}"><span class="glyphicon glyphicon-refresh icn"></span></div>
											<div class="onbutton gr" type="button" id="btnNewFileDir icn" data-bind="visible: apl.appTreeMode() === 'folder'|| apl.applicationMode() === '', click: apl.modalNewFileDir"><span class="glyphicon glyphicon-file icn"></span></div>
											<div class="onbutton gr" data-bind="visible:apl.appTreeMode() !== '', click: apl.removeFileDir"><span class="glyphicon glyphicon-remove icn"></span></div>
											<div class="onbutton gr"  data-bind="click: apl.modalRenameFile, visible:apl.appTreeMode() !== ''"><span class="glyphicon glyphicon-pencil icn"></span></div>
										</div>
						    		<!-- </div> -->
							    </div>
							    <div class="col-md-3 row">
							    	<label class="col-md-3" id=""></label>
					    			<div id="nm-file" class="pdpath"></div>
					    		</div>
					    			<label class="pdpath" id="txt-path"></label>
					    			<!-- <button type="button" class="btn btn-primary btn-menu flr" data-bind="visible: apl.appTreeMode() === 'file'|| apl.applicationMode() === '', click:apl.updateFileDir"><span class="glyphicon glyphicon-floppy-disk"></span></button> -->
					    			<div class="onbutton1 flr"  data-bind="visible: apl.appTreeMode() === 'file'|| apl.applicationMode() === '', click:apl.updateFileDir"><span class="glyphicon glyphicon-floppy-disk icn"></span></div>
					    	</div>
					    	<div class="col-md-12 bd1" id="splitter">
					            <div class="col-md-5 trv-5">
						            <div class="tvcustom">
						                <div id="treeview-left"></div>
						            </div>
					    		</div>
					    		<div class="col-md-7">			    		
					    			<textarea class="form-control tacustom" id="scriptarea" rows="13"></textarea>
					    		</div><!-- isi -->
				    		</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12" data-bind="visible: (app.section() == 'servers'), with: servers">
		{{template "page-servers.html"}}
	</div>
</div>

<div class="modal fade modal-new-file" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span data-bind="text: (apl.renameFileMode() === false) ? 'Create New File or Folder' : 'Rename New File or Folder'"></span>
				</h4>
			</div>
			<div class="modal-body" data-bind="with: apl.configFile">
				<div class="col-md-12 form-row form-newfile">
					<div class="row">
						<label class="col-md-3">Type :</label>
			    		<div class="col-md-9" data-bind="visible: apl.renameFileMode() !== true">
							<select style="width: 100%;" id="TypeFile" name="TypeFile" required data-required-msg="Use type cannot be empty" data-bind="kendoDropDownList: { data: ['folder','file'], value: Type}"></select>
						</div>
						<div class="col-md-9" data-bind="visible: apl.renameFileMode() === true">
							<span data-bind="text: apl.configFile.Type()"></span>
						</div>
					</div>
					<div class="row">
						<label class="col-md-3">File Name :</label>
			    		<div class="col-md-9">
							<input type="text" required class="form-control" name="FileName" placeholder="Type filename in here !" data-bind="value: Filename" />
							<span class="k-invalid-msg" data-for="Filename"></span>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Close
				</button>
				<button type="button" class="btn btn-sm btn-primary" data-bind="visible: (apl.renameFileMode() === false), click: apl.newFileDir">
					<span class="glyphicon glyphicon-save"></span> Save
				</button>
				<button type="button" class="btn btn-sm btn-primary" data-bind="visible: (apl.renameFileMode() === true),click: apl.renameFile">
					<span class="glyphicon glyphicon-save"></span> Rename
				</button>
			</div>
		</div>
	</div>
</div>
