<!-- core -->
<script src="/res/core/page-dataflow.js"></script>

<style>
.btn-nav-container {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 3px;
}
.sidebar {
	padding-right: 0px;
    width:  6.333333%!important;
}
.designer {
	padding-left: 0px;
	padding-top: 20px;
    width: 93.666667%!important;
}
</style>
<div data-bind="visible:df.Mode()!='Grid'">
<div class="col-xs-12 col-sm-12" id="content" data-bind="with: dataflow">
	<div class="col-md-12" data-bind="visible: (app.section() == '')">
		<ol class="breadcrumb bc-custom">
			<li>Data Flow Designer</li>
			<div class="pull-right">
				<button class="btn mgRight btn-tooltip" title="Back" onclick="df.backToGrid();"><span class="glyphicon glyphicon-arrow-left"></span></button>
				<button class="btn btn-danger btn-tooltip" title="Clear Editor" onclick="df.clearDiagram();"><span class="glyphicon glyphicon-remove"></span></button>
				<button class="btn btn-tooltip" title="Reload" onclick="df.Reload();"><span class="glyphicon glyphicon-repeat"></span></button>
				<button class="btn btn-primary btn-tooltip" title="Save" onclick="df.Save();"><span class="glyphicon glyphicon-floppy-disk"></span></button>
				<button class="btn btn-success mgLeft btn-tooltip" title="Run" data-bind="click: df.run">
			    		<span class="glyphicon glyphicon-play"></span>
			    </button>
			</div>
		</ol>

		<div class="row dataflow-content">
			<div class="col-md-1 sidebar" data-bind="visible: (app.section() == '')">
				<div class="btn-nav-container">
					<!-- <button class="btn btn-sm btn-primary mgTop15" data-bind="click: df.run">
			    		<span class="glyphicon glyphicon-play"></span> Run
			    	</button> -->
		    	</div>

				  <div data-bind="foreach:ActionItems" id="sortable-All" style="min-height: 110px;">
		              <div data-bind="css: Name,attr:{name: Name,image:Image,id:Id,color:Color,title:Name},style:{ 'backgroundImage': 'url(/res/img/'+Image+')' }" class="list-left tooltipster"></div>
		          </div>
			</div>
			
			<div class="col-md-11 designer" data-bind="visible: (app.section() == '')">
				<div class="diagram"></div>
			</div>
		</div>
	</div>
</div>

<button style="display:none" title="asd" data-content="" id="popbtn"></button>

<script type="text/template" id="popover-content-template">
    <table data-bind="with:df.sparkModel">
        <tbody>
            <tr>
                <td>Server</td>
                <td>  <input type="text" class="inp-fork inp-left" data-bind="kendoDropDownList: { data: df.servers}"></td>
            </tr>
        </tbody>
    </table>
    <div class="ct-custom" >
        <table data-bind="with:df.sparkModel,visible: (df.popoverMode() == 'Spark')">
            <tbody>
                <tr>
                    <td>Spark Master</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:master" placeholder="e.g. local[*]">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mode" placeholder="e.g. Client">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>App files</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:appfiles" placeholder="Comma separated list of java or scala HDFS files">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>App Name</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:appname" placeholder="e.g. My Spark">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>Main Class</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mainclass" placeholder="e.g. org.spark.example.main">
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.hdfsModel, visible: (df.popoverMode() == 'HDFS')">
            <tbody>
                <tr>
                    <td>HDFS Script</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:script" placeholder="Fill HDFS executable/script">
                    </td>
                </tr>
            </tbody>
        </table>
         <table data-bind="with:df.sshModel, visible: (df.popoverMode() == 'SSH Script')">
            <tbody>
                <tr>
                    <td>User and Host</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:script" placeholder="e.g. user@host.com">
                    </td>
                </tr>
                <tr>
                    <td>SSH Script</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:script" placeholder="Fill SSH script">
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.hiveModel, visible: (df.popoverMode() == 'Hive')">
            <tbody>
                <tr>
                    <td>Script</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:scriptpath" placeholder="Script or path on HDFS">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>Hive XML</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:hivexml" placeholder="Refer to a hive-site.xml for connecting to Hive">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.shModel, visible: (df.popoverMode() == 'Shell Script')">
            <tbody>
                <tr>
                    <td>Shell Command</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:script" placeholder="Shell command to execute, e.g script.sh">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.hsModel, visible: (df.popoverMode() == 'Map Reduce')">
            <tbody>
                <tr>
                    <td>Mapper</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mapper" placeholder="The executable/script to be used as mapper">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>Reducer</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:reducer" placeholder="The executable/script to be used as reducer">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.javaAppModel,visible: (df.popoverMode() == 'Java App')">
            <tbody>
                <tr>
                    <td>Jar Name</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:jar" placeholder="Path to the jar on HDFS">
                        <button class="btn pd-custom fileChooserBtn">..</button>
                    </td>
                </tr>
                <tr>
                    <td>Main Class</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:mainclass" placeholder="Java class. e.g. org.apache.hadoop.examples.main">
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.emailModel, visible: (df.popoverMode() == 'Email')">
            <tbody>
                <tr>
                    <td>To Addresses</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:to" placeholder="Comma-separated values">
                    </td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>
                        <input type="text" class="inp-custom" data-bind="value:subject" placeholder="Fill Email Subject">
                    </td>
                </tr>
                <tr>
                    <td>Body</td>
                    <td>
                        <textarea class="inp-custom" data-bind="value:body" placeholder="Fill Email Body"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table data-bind="with:df.stopModel, visible: (df.popoverMode() == 'Stop')">
            <tbody>
                <tr>
                    <td>Message</td>
                    <td>
                        <textarea class="inp-custom" placeholder="Fill stop message" data-bind="value:message"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-bind="visible: (df.popoverMode() == 'Transitions')">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#transition" data-toggle="tab">Transition</a></li>
              <li><a href="#input" data-toggle="tab">Input</a></li>
              <li><a href="#output" data-toggle="tab">Output</a></li>
            </ul>

            <div class="tab-content" data-bind="with:df.actionDetails">
              <div class="tab-pane active" id="transition">
                    <table>
                        <tbody>
                            <tr>
                                <td>When Failed</td>
                                <td>
                                    <input type="text" class="inp-fork inp-left" data-bind="kendoDropDownList: { data: df.allAction, value:whenFailed}">
                                </td>
                            </tr>                
                        </tbody>
                    </table>
              </div>
              <div class="tab-pane" id="input">Input</div>
              <div class="tab-pane" id="output">
                    <table>
                        <tbody>
                            <tr>
                                <td>Type</td>
                                <td>
                                      <input type="text" class="inp-fork inp-left" data-bind="kendoDropDownList: { data: df.outputType, value:output.type}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-info btn-xs" data-bind="" onclick="df.addParamOutput();">Add parameter</a>
                                </td>
                            </tr>
                            <!-- ko foreach: output.param -->
                            <tr>
                                <td> <input class="inp-output" data-bind="value:key" placeholder="Fill parameter name"></td> </td>
                                <td> <input class="inp-output" data-bind="value:value" placeholder="Fill parameter value"></td> </td>
                                <td>
                                    <a class="btn btn-danger btn-xs" data-bind="attr:{index:idx}" onclick="df.deleteParamOutput(event);"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                             <!-- /ko -->
                        </tbody>
                    </table>
              </div>
            </div>
        </div>
      
        <table  id= "fork" data-bind="with:df.forkModel, visible: (df.popoverMode() == 'Fork')">
            <tbody data-bind = "foreach:df.arrayconn">
                <tr>
                    <td>If</td>
                    <td>
                        <input type="text" class="inp-fork inp-left" data-bind="value:condition" placeholder="">
                    </td>
                    <td>Go To</td>
                    <td>
                        <input type="text" disabled="disabled" class="inp-fork inp-right" data-bind="value: name" placeholder="">
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div style="clear:both;"></div>
     <a class="btn btn-sm btn-warning pull-left" data-bind="" onclick="df.closePopover('#popbtn');">Cancel</a>
        <a class="mgBottom btn btn-sm btn-primary pull-right" onclick="df.saveActionData();" data-bind="">Save</a>
</script>

<div class="divTitleDF" data-bind="with:df">
&nbsp;
	<p class="pTitle" data-bind="text:Name"></p>
	<p class="pDesc" data-bind="text:Description"></p>
</div>

<button style="display:none" data-content="" id="poptitle">
<div class="poptitle-content">
	<div class="col-md-8">
	 	<input type="text" class="form-control pop-txt" placeholder="Type something..">
	</div>
	              
	<div class="col-md-4 mgBottom">
		<a class="btn btn-sm btn-primary pull-right poptitle-save" data-bind=""><span class="glyphicon glyphicon-floppy-disk"></span></a>
		<a class="btn btn-sm btn-danger pull-left poptitle-close" data-bind=""><span class="glyphicon glyphicon-remove"></span></a>
	</div> 
</div> 
</button>
</div>


<div class="col-md-12" data-bind="visible:df.Mode()=='Grid'">
	<ol class="breadcrumb bc-custom">
			<li>Data Flow</li>
		</ol>
        <div class="col-md-12 mgTop15">
            <input class="form pull-left search-txt" onkeyup="df.Search();" placeholder="Search name, description, create by ..."></input>
            <button class="btn btn-success pull-right" onclick="df.newDF();"><span class="glyphicon glyphicon-plus"></span> New</button>
        </div>
		<div class="col-md-12 mgTop15"><div id="dataFlowGrid"></div></div>
</div>

<style>	
        .search-txt{
            border-radius: 1px;
            min-height: 29px;
            min-width: 300px;
            padding: 0 8px;
            border-top: 1px solid #c0c0c0;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);

            padding-right: 14px;
            padding-right: 4px \9;
            padding-left: 14px;
            padding-left: 4px \9;
            margin-bottom: 0;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }

        .btn-transition{
            border-radius: 8px;
            font-size: 10px;
        }

		.popover{
			max-width: 500px!important;
            min-width: 300px!important;
            min-height: 250px!important;
            max-height: 350px!important;
            overflow-y:scroll;
		}

        .popover-content .ct-custom{
            max-width: 500px!important;
            min-width: 300px!important;
            min-height: 200px!important;
        }

		.popover-content .col-md-4{
			padding-right: 0px;
		}

		.popover-content .col-md-8{
			padding-left: 0px;
			padding-right: 0px;
		}

		.divTitleDF{
	    	position: absolute;
	    	top: 156px !important;
	    	left: 37.4%;
	    	text-align: center;
	    	width: 30.6%;
	    	height: 10%;
	    	opacity: 0.6;
	    	cursor: pointer;
		}

        td:first-child{
            width: 80px!important;
        }

		.pTitle{
			font-weight: bold;
    		font-size: large;
		}

		.mgLeft{
			margin-left: 25px;
		}

		.mgRight{
			margin-right: 25px;
		}

        .mgRight10{
            margin-right: 10px;
        }

		.mgBottom{
			margin-bottom: 10px;
		}

        .mgTop10{
            margin-top:10px;
        }

        .arrow{
            display: none!important;
        }

       #sortable-All {
            min-height: 40px;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            border: 1px solid #dddddd;
            border-radius: 4px;
            float: left;
            /*max-height: 400px;*/
            /*min-width: 120px;*/
            /*overflow-y: scroll;*/
        }

        .list-left {
        	vertical-align: middle!important;
            list-style-type: none;
            width: 45px;
            height: 45px;
            margin: 5px;
            line-height: 30px;
            text-align: center;
            background-color: #E8EFF7;
            color: #000000;
            border-radius: 3px;
            cursor: move;
            background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: 50% 50%;
			border: 1px solid #CCC;
        }

       .placeholder {
            border: 1px dashed #ccc;
            background-color: #fff!important;
            color: #333;
        }

        .hint {
            opacity: 0.4;
        }
        .k-layer{
            width: 100%!important;
            height: 100%!important;
        }

        circle{
            stroke: #000000!important;
            stroke-width: 9px!important;
            opacity: 0.4;
        }

        circle:hover{
            stroke: #000000;
            stroke-width: 20px!important;
            height: 120%!important;
            width: 120%!important;
            opacity: 0.75;
        }
        .ct-custom{
            font-size: 12px;
        }
        .pd-custom{
            padding: 1px 6px;
            border-radius: 0px;
        }
        .inp-custom{
            margin: 5px -2px 5px 5px;
            width: 220px;
        }
        .inp-fork{
            margin: 2px 5px;
            width: 180px;
        }
        .inp-output{
            margin: 5px -2px 5px 5px;
            width: 180px;
        }
</style>