<!-- core -->
<link href="/res/gridstack/gridstack.css" rel="stylesheet">
<link href="/res/gridstack/gridstack-extra.css" rel="stylesheet">

<script src="/res/core/page-designer.js"></script>
<script src="/res/core/page-designer-editor.js"></script>
<script src="/res/gridstack/gridstack.js"></script>

<style type="text/css">
	.k-widget.k-dropdown, .k-widget.k-numerictextbox{
		width: 100%;
	}
	ul, li {list-style-type: none;}

	.sidebar {
		padding-top: 20px;
		padding-right: 0px;
	    width:  15.333333%!important;
	}
	.designer {
		padding-left: 0px;
		padding-top: 20px;
	    width: 84.666667%!important;
	}
	.content-designer{
		padding-top: 20px;
	}
	.list-widget {
        min-height: 40px;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        float: left;
    }

    .list-left {
        vertical-align: middle!important;
        list-style-type: none;
        width: 150px;
        height: 45px;
        margin: 5px;
        line-height: 30px;
        text-align: center;
        background-color: #E8EFF7;
        color: #000000;
        border-radius: 3px;
        cursor: move;
        background-repeat: no-repeat;
		background-size: 30px 30px;
		background-position: 50% 50%;
		border: 1px solid #CCC;
		vertical-align: middle;
    }

    .placeholder-dash {
        border: 1px dashed #ccc;
        background-color: #fff!important;
        color: #333;
    }

    .mgLeft{
			margin-left: 25px;
	}

	.mgRight{
			margin-right: 25px;
	}

	.not-active {
       pointer-events: none;
       cursor: move;
    } 

</style>

<script>
	pg.pageID = "{{.pageID}}";
</script>

<div class="col-xs-12 col-sm-12" id="content" data-bind="with: PageDesigner">
	<div class="col-md-12" data-bind="visible: (app.section() == 'pagedesigner')">
		<ol class="breadcrumb bc-custom">
			<li>Page Designer</li>
			<div class="pull-right">
				<button class="btn mgRight tooltipster" title="Back" onclick="location.href='/web/widgetpage'"><span class="glyphicon glyphicon-arrow-left"></span></button>
				<button class="btn btn-primary tooltipster" title="Save" onclick=""><span class="glyphicon glyphicon-floppy-disk"></span></button>
				<button class="btn btn-primary tooltipster" title="Preview" onclick=""><span class="glyphicon glyphicon-eye-open"></span></button>
				<button class="btn mgLeft tooltipster" title="Configuration" data-bind="click: configPage">
			    		<span class="glyphicon glyphicon-cog"></span>
			    </button>
			</div>
		</ol>

		<div class="row dataflow-content">
			<div class="col-md-2 sidebar">
				<div class="list-widget" id="sidebar"></div>
			</div>
			
			<div class="col-md-10 designer">
				<div class="panel content-designer" data-bind="visible: (app.mode() == '')">
					<div class="col-md-12">
						<div>
							<div class="grid-stack" id="page-designer-grid-stack" data-bind="foreach: { data: pde.widgets, afterRender: pde.afterAddWidget }">
							   <div class="grid-stack-item" data-bind="attr: {'data-gs-x': $data.x, 'data-gs-y': $data.y, 'data-gs-width': $data.width, 'data-gs-height': $data.height, 'data-gs-auto-position': $data.auto_position}">
							       <div class="grid-stack-item-content">
							            <div class="panel panel-default">
							                <div class="panel-heading wg-panel clearfix">
							                  <div class="pull-right">
							                    <a href="#" class="btn btn-default btn-xs tooltipster" data-bind="click: function(e) {pde.widgetSetting('wp1459947140191', 'modal')}" title="Setting"><span class="glyphicon glyphicon-cog"></span></a>
							                    <a href="#" class="btn btn-danger btn-xs tooltipster" title="Remove" data-bind="click: pde.deleteWidget"><span class="glyphicon glyphicon-trash"></span></a>
							                  </div>
							               </div>
							            </div>
							       </div>
							   </div>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Configuration -->
	<div class="modal fade modal-config" tabindex="-1" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Page Configuration</h4>
	            </div>
	            <div class="modal-body">
	               <form class="form-horizontal form-widgetDesigner" data-bind="with: configPageDesigner" novalidate>
	               		<!-- <div class="col-md-12"> -->
	               			<div class="form-group">
					    		<label class="col-md-3 databrowser-label">ID</label>
					    		<div class="col-md-7">
						    		<input required type="text" class="form-control input-sm" name="_id" placeholder="Type the page id Here" data-bind="value: _id" readonly>
									<span class="k-invalid-msg" data-for="_id"></span>
					    		</div>
				    		</div>
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Title</label>
					    		<div class="col-md-7">
						    		<input required type="text" class="form-control input-sm" name="title" placeholder="Type the page name Here" data-bind="value: title">
									<span class="k-invalid-msg" data-for="title"></span>
					    		</div>
				    		</div>
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">URL</label>
					    		<div class="col-md-7">
						    		<input type="text" class="form-control input-sm" name="url" placeholder="Type the page url Here" data-bind="value: url">
					    		</div>
				    		</div>
				    		<div class="form-group">
					    		<label class="col-md-3 databrowser-label">Page Data Source</label>
					    		<div class="col-md-7">
						    		<select required data-bind="kendoMultiSelect:{ autoClose: false, data: pg.allDataSources, value: dataSources }" name="datasource" id="datasource"></select>
						 			<span class="k-invalid-msg" data-for="datasource"></span>
					    		</div>
				    		</div>
	               		<!-- </div> -->
				   </form>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-danger" data-dismiss="modal" data-bind="click: backToConfig"><span class="glyphicon glyphicon-remove"></span>  Cancel</button>
	                <button class="btn btn-sm btn-primary" data-bind="click: saveConfig"><span class="glyphicon glyphicon-save"></span> Save</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Modal DataSource -->
	<div class="modal fade modal-widgetsetting" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="width: 50%;">
			<div class="modal-content" data-bind="with: dsMapping">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: pg.closeWidgetSetting">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Widget Setting</h4>
				</div>

				<div class="modal-body">
					<ul class="nav nav-tabs" id="myTab">
        				<li class="active"><a data-target="#DataSource" data-toggle="tab">Data source</a></li>
       					<li><a data-target="#WidgetSetting" data-toggle="tab" data-bind="click: pg.fieldMapping">Widget Setting</a></li>
   					</ul>
					<!--<div data-bind="visible: (app.mode() == 'datasourceMapping')">-->
					<div class="tab-content">
        			<div class="tab-pane active" id="DataSource">
						<div class="form-horizontal" id="dsWidget" data-bind="with: pg.widgetSettings">
							<div class="form-group">
								<label for="title" class="col-sm-2 control-label">Title</label>
								<div class="col-sm-10">
									<input required type="text" class="form-control" id="title" name="title" placeholder="Title" data-bind="value: title">
									<span class="k-invalid-msg" data-for="title"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="position" class="col-sm-2 control-label">Position</label>
								<div class="col-sm-10">
									<select required id="position" data-bind="kendoDropDownList: { data: pg.widgetPosition, dataValueField: 'value', dataTextField: 'text', value: position, optionLabel: 'Select Position' }"></select>
									<span class="k-invalid-msg" data-for="position"></span>
								</div>
							</div>
							<div class="form-group" data-bind="visible: (position() != '')">
								<label for="width" class="col-sm-2 control-label" data-bind="text: (position() == 'fixed')?'Width Column':'Width'">Width</label>
								<div class="col-sm-10" data-bind="visible: (position() == 'fixed')">
									<input required type="number" class="" id="width" name="width" min="0", max= "12" placeholder="Width" data-bind="kendoNumericTextBox:{value: width, min: 0, max: 12}">
									<span class="k-invalid-msg" data-for="width"></span>
								</div>
								<div class="col-sm-10" data-bind="visible: (position() == 'absolute')">
									<input required type="number" class="" id="width" name="width" min="0" placeholder="Width" data-bind="kendoNumericTextBox:{value: width, min: 0}">
									<span class="k-invalid-msg" data-for="width"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="height" class="col-sm-2 control-label">Height</label>
								<div class="col-sm-10">
									<input required type="number" class="" id="height" name="height" min="0" placeholder="Height" data-bind="kendoNumericTextBox:{value: height, min: 0}">
									<span class="k-invalid-msg" data-for="height"></span>
								</div>
							</div>

							<div data-bind="foreach: pg.dsMapping.field">
								<div class="form-group">
									<label class="col-sm-2 control-label" data-bind="text: $data.dsWidget"></label>
									<div class="col-sm-10">
										<select required id="ds" data-bind="kendoDropDownList: { data: pg.dsWidgetFromPage, dataValueField: 'value', dataTextField: 'text', value: $data.dsColony, optionLabel: 'Select one' }, attr: { id: 'ds' + $index(), name: 'ds' + $index()}"></select>
									    <span class="k-invalid-msg" data-for="ds" data-bind="attr: { 'data-for': 'ds' + $index() }"></span>
								    </div>
								</div>
							</div>
						</div>   	
		        	</div>
		        	
		        	<!--</div>-->
		        	<div class="tab-pane" id="WidgetSetting">
					<div class="col-md-12">
				    		<iframe class="full-width" id="formSetting" scrolling="no"  frameborder="0" onload="pg.adjustIframe()"></iframe>
			        </div>
			       	<div class="clearfix"></div>
					
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

