<!-- css token input -->
<script src="/res/bootstrap/js/bootstrap-tokenfield.js"></script>
<link rel="stylesheet" href="/res/bootstrap/css/tokenfield-typeahead.css" />
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap-tokenfield.css" />
<!-- css token input -->

<style>
    .no-left-padding {
        padding-left: 0px;
    }
</style>

<h1>Group</h1>

<nav class="navbar" data-bind="visible: (app.mode() == '')">
    <div class="nav1">
        <div class="col-md-4">
            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: grp.getGroups">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button>
            <button class="btn btn-sm btn-success" data-bind="click: grp.createNewGroup">
                <span class="glyphicon glyphicon-plus"></span> Add
        </button>
            <button class="btn btn-sm btn-danger navbar-btn" data-bind="click:grp.deletegroup">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        </div>
        <!-- <label class="col-md-4 filter-label no-left-padding"> -->
        <div class="col-md-3" id="nav-group-search">
            <input class="form-control full-width input-sm searchsrv" name="search" placeholder="Search" data-bind='value : grp.search'/>   
        </div>
    </div>
</nav>
<nav class="navbar" data-bind="visible: (app.mode() == 'new') |(app.mode() == 'editor')">
    <button class="btn btn-sm btn-warning navbar-btn" data-bind="click: grp.backToFront">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: grp.savegroup">
        <span class="glyphicon glyphicon-save"></span> Save
    </button>
    <button class="btn btn-sm btn-danger navbar-btn" id="removeOnEditGroup">
        <span class="glyphicon glyphicon-remove"></span> Delete
    </button>
</nav>

<div data-bind="visible: (app.mode() == '')">
        <div class="gr-position">
            <!-- <div class="grid grid-groups" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: grp.GroupsData, selectable: 'multiple, row', change: grp.selectGridGroups, columns: grp.GroupsColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-groups')}"></div> -->
            <div id="grid-groups"></div>
        </div>
        <p class=" bg-danger bgcustom">Please click row to edit!</p>
</div>

<div class="panel" data-bind="visible: (app.mode() == 'new') |(app.mode() == 'editor')" style="width: 800px;">
    <div class="panel-heading">
        <h1 class="panel-title"><span data-bind="text: (grp.Groupmode() == '') ? 'Create New' : 'Edit'"></span>
        </h1>
    </div>
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#groups" data-toggle="tab">groups</a></li>
        <li data-bind="visible: (grp.dataType()== '1')"><a data-target="#MemberConfiguration" data-toggle="tab">MemberConfiguration</a></li>
        <li><a data-target="#access" data-toggle="tab">access</a></li>
    </ul>
    
        <form class="form-horizontal form-server" id="form-add-Group" novalidate>
            <div class="tab-content">
                <div class="tab-pane active" id="groups">
                    <div class="panel-body">
                        
                             <div class="form-group" id="tipe-group">
                                <label class="col-md-3 filter-label">Add Type</label>
                                <div class="col-md-9" id="add_type">
                                    <label class="radio-inline"><input type="radio" name="addType" value="1" data-bind="checked: grp.dataType">ldap</label>
                                    <label class="radio-inline"><input type="radio" name="addType" value="0" data-bind="checked: grp.dataType">basic</label>
                                    <button class="btn btn-success btn-sm get-tipe" data-bind="click: grp.showModalType, visible: (grp.dataType()== '1')">
                                        <span class="glyphicon glyphicon-plus"></span> Group
                                    </button>
                                </div>
                            </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 filter-label">ID</label>
                                <div class="col-md-7">
                                    <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for ID" type="text" class="form-control input-sm" name="ID" placeholder="Type the ID Here" data-bind="value: grp.config._id">
                                    <span class="k-invalid-msg" data-for="ID"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 filter-label">Title</label>
                                <div class="col-md-7">
                                    <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Title" type="text" class="form-control input-sm" name="Title" placeholder="Type the Title Here" data-bind="value: grp.config.Title">
                                    <span class="k-invalid-msg" data-for="Title"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6" id="fy">
                            <div class="form-group">
                                <label class="col-md-3 filter-label">Owner</label>
                                <div class="col-md-7">
                                    <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Owner" type="text" class="form-control input-sm" name="Owner" placeholder="Type the Owner Here" data-bind="value: grp.config.Owner">
                                    <span class="k-invalid-msg" data-for="Owner"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 filter-label">Enable</label>
                                <div class="col-md-7">
                                    <input type="checkbox" name="Enable" data-bind="checked:grp.config.Enable">
                                </div>
                            </div>
                        </div>
                    </div>
                </diV>
                <div class="tab-pane" id="MemberConfiguration">
                    <div class="panel-body">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="col-md-2 filter-label">Filter</label>
                                <div class="col-md-9">
                                    <input required type="text" class="form-control input-sm" name="Filter" data-bind="value: grp.config.Filter">
                                    <span class="k-invalid-msg" data-for="Filter"></span>
                                </div>
                                  
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="hr-mapp">Mapp Attribute</h4>
                            <hr>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-3 filter-label">Login ID</label>
                                <div class="col-md-4">
                                    <input required type="text" class="form-control input-sm" name="login-id" data-bind="value: grp.config.LoginID">
                                    <span class="k-invalid-msg" data-for="login-id"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                 
                                <label class="col-md-3 filter-label">Fullname</label>
                                <div class="col-md-4">
                                    <input required type="text" class="form-control input-sm" name="Fullname" data-bind=" value: grp.config.Fullname">
                                    <span class="k-invalid-msg" data-for="Fullname"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                 
                                <label class="col-md-3 filter-label">Email</label>
                                <div class="col-md-4">
                                    <input required type="email" class="form-control input-sm" name="Email" data-bind="value: grp.config.Email">
                                    <span class="k-invalid-msg" data-for="Email"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="access">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 filter-label">Privilege</label>
                                <div class="col-sm-12">
                                    <div class="nav">
                                        <button class="btn btn-success btn-sm" data-bind="click: usr.addFromPrivilage">
                                            <span class="glyphicon glyphicon-plus"></span> Add
                                        </button>
                                    </div>
                                    <table class="table" id="datasource-settings">
                                        <thead>
                                            <tr>
                                                <th width="200px;">Access</th>
                                                <th>Create</th>
                                                <th>Read</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                                <th>Special Access 1</th>
                                                <th>Special Access 2</th>
                                                <th>Special Access 3</th>
                                                <th>Special Access 4</th>
                                            </tr>
                                        </thead>
                                        <tbody align="center" data-bind="foreach: usr.config.Grants">
                                            <tr>
                                                <td>
                                                    <select class="form-control input-sm" data-bind="visible: (app.mode() == 'editor'),value:usr.config.Grants()[$index()].AccessID ,options: usr.Access,selectedOptions : usr.config.Grants()[$index()].AccessID "></select>
                                                    <select class="form-control input-sm" data-bind="visible: (app.mode() == 'new'),value:usr.config.Grants()[$index()].AccessID ,options: usr.Access, optionsCaption: 'Choose...'"></select>
                                                    <!-- <div data-bind="visible: (app.mode() == 'new')">
                                                        <select class="form-control input-sm" data-bind="visible: (app.mode() == 'new'),kendoDropDownList:{ dataSource: usr.Access(), value: usr.templateAccessGrant()[$index()].AccessID(), optionLabel:'select your Access'}"></select>
                                                    </div> -->
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessCreate" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessRead" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessUpdate" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessDelete" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial1 ,attr: { title: adm.AccessSpecial1 },event: { mouseover: adm.getTitle(usr.config.Grants()[$index()].AccessID) }" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial2, attr: { title: adm.AccessSpecial2 },event: { mouseover: adm.getTitle(usr.config.Grants()[$index()].AccessID) }" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial3, attr: { title: adm.AccessSpecial3 },event: { mouseover: adm.getTitle(usr.config.Grants()[$index()].AccessID) }" />
                                                </td>
                                                <td>
                                                    <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial4,attr: { title: adm.AccessSpecial4 },event: { mouseover: adm.getTitle(usr.config.Grants()[$index()].AccessID) }" />
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-danger" data-bind="click: usr.removeAccess($data)">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<!-- modal grup add type -->
<div class="modal fade" id="modalForgot" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modalcustom">
        <div class="modal-content">
            <div class="modal-1" id="modal-1">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Ldap
                    </h4>
                </div>
                <div  >      
                   <div class="col-md-12" style="margin-top:20px;">
                    <form class="form-horizontal" id="form-modal-group" novalidate > 
                        <div class="col-md-6" >
                        <div class="form-group"  >
                            <label class="col-md-3 filter-label" >Address</label>
                            <div class="col-md-8"  >
                               <!--  <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Address" type="text" class="form-control input-sm" name="Address" placeholder="Type the Address Here" data-bind="value: usr.ldap.Address"> -->
                                <!-- <select class="form-control input-sm" data-bind="options: usr.ListAddress, selectedOptions: usr.selectedAddress , event:{ change: usr.setLdap}" ></select> -->
                                <input required class="form-control input-sm full-width" data-bind="value: grp.dataTypeConfig.Address" name="Address" id="address" />
                                <span class="k-invalid-msg" data-for="Address"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 filter-label">Base DN</label>
                            <div class="col-md-8">
                                <input required type="text" class="form-control input-sm" name="BaseDN" placeholder="Type the BaseDN Here" data-bind="value: grp.dataTypeConfig.BaseDN">
                                <span class="k-invalid-msg" data-for="BaseDN"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-3 filter-label">Filter</label>
                            <div class="col-md-8">
                                <input required type="text" class="form-control input-sm" name="Filter" placeholder="Type the Filter Here" data-bind="value: grp.dataTypeConfig.Filter">
                                <span class="k-invalid-msg" data-for="Filter"></span>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-6" >
                         <div class="form-group"  >
                            <label class="col-md-3 filter-label">Username</label>
                            <div class="col-md-8" >
                                <input required type="text" class="form-control input-sm" name="LoginID" placeholder="Type the Username Here" data-bind="value: grp.dataTypeConfig.Username">
                                <span class="k-invalid-msg" data-for="Username"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 filter-label">Password</label>
                            <div class="col-md-8">
                                <input required type="password" class="form-control input-sm" name="FullName" placeholder="Type the Password Here" data-bind="value: grp.dataTypeConfig.Password">
                                <span class="k-invalid-msg" data-for="Password"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 filter-label">Attribute</label>
                            <div class="col-md-8">
                                <input required type="text" id="attribute-group" class="form-control input-sm" data-bind="value: grp.attribute" name="Attribute" Placeholder="enter Atribute of ID, Name, Owner">
                                <span class="k-invalid-msg" data-for="Attribute"></span>
                            </div>
                        </div> 
                    </div>
                    </form>    
                    <div class="col-md-12" >    
                    <div class="form-group">
                        <div id="grid-ldap-group" data-bind="visible: (grp.GrupModalgrid() == 'show')"></div>
                    </div>
                    </div>
                    <!-- <div class="clearfix"></div>  -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin-right:45px;">
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" data-bind="click: grp.getDataUserLdap">
                            <span class="glyphicon glyphicon-refresh"></span> Search
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal grup add type -->
<!-- modal refresh group -->
<div class="modal fade" id="modalRefresh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content grp-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Enter Your Access
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" class="form-horizontal" id="email-form">
                  <div class="form-group">
                    <label class="control-label col-sm-3">Username</label>
                    <div class="col-xs-8">
                      <input type="text" class="form-control input-sm" name="username" placeholder="Enter Username" data-bind="value: grp.configLdapAuht.username"  readonly/>
                      <span class="k-invalid-msg" data-for="username"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3">Password</label>
                    <div class="col-xs-8">
                      <input type="password" class="form-control input-sm" name="password" placeholder="Enter Password" data-bind="value: grp.configLdapAuht.password"   required/>
                      <span class="k-invalid-msg" data-for="password"></span>
                    </div>
                  </div>
                </form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-sm btn-primary grp-refresh" data-bind="click: grp.getRefresh">
                    Get Refresh
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End modal refresh group -->