<style>
    .no-left-padding {
        padding-left: 0px;
    }
</style>

<h1>User</h1>

<nav class="navbar" data-bind="visible: (app.mode() == '')">
    <div class="col-md-4">
    <button class="btn btn-sm btn-primary navbar-btn">
		<span class="glyphicon glyphicon-refresh"></span> Refresh
	</button>
    <button class="btn btn-sm btn-success" data-bind="click: usr.createNewUser">
			<span class="glyphicon glyphicon-plus"></span> Add
    </button>
    <button class="btn btn-sm btn-danger navbar-btn" data-bind="click:usr.deleteuser">
		<span class="glyphicon glyphicon-remove"></span> Delete
	</button>
</div>
    <div class="col-md-3">
    <input class="form-control full-width input-sm searchsrv" name="search" placeholder="Search" />
</div>
</nav>
 
<div class="panel" data-bind="visible: (app.mode() == '')">
    <div class="panel-heading">
        <h1 class="panel-title">User</h1>
    </div>
    <div class="panel-body">
        <div class="grid grid-users" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: usr.UsersData, selectable: 'multiple, row', change: usr.selectGridUsers, columns: usr.UsersColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-users')}"></div>
    </div>
    <p class="bg-danger bgcustom">Please click row to edit!</p>
</div>

<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
    <button class="btn btn-sm btn-warning navbar-btn" data-bind="click: usr.backToFront">
		<span class="glyphicon glyphicon-chevron-left"></span> Back
	</button>
    <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: usr.saveuser">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
    <button class="btn btn-sm btn-danger navbar-btn" id="removeOnEditGroup">
		<span class="glyphicon glyphicon-remove"></span> Delete
	</button>
</nav>

<div class="panel" data-bind="visible: (app.mode() == 'editor')" style="width: 800px;">
    <div class="panel-heading">
        <h1 class="panel-title"><span data-bind="text: (usr.Usermode() == '') ? 'Create New' : 'Edit'"></span>
        </h1>
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-server" id="form-add-Server" novalidate>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 filter-label">Login ID</label>
                    <div class="col-md-7">
                        <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Login ID" type="text" class="form-control input-sm" name="LoginID" placeholder="Type the Login ID Here" data-bind="value: usr.config.LoginID">
                        <span class="k-invalid-msg" data-for="LoginID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 filter-label">FullName</label>
                    <div class="col-md-7">
                        <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for FullName" type="text" class="form-control input-sm" name="FullName" placeholder="Type the FullName Here" data-bind="value: usr.config.FullName">
                        <span class="k-invalid-msg" data-for="FullName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 filter-label">Enable</label>
                    <div class="col-md-7">
                        <input type="checkbox" name="Enable" data-bind="checked:usr.config.Enable"> 
                        <span class="k-invalid-msg" data-for="Enable"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 filter-label">Email</label>
                    <div class="col-md-7">
                        <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Email" type="text" class="form-control input-sm" name="Email" placeholder="Type the Email Here" data-bind="value: usr.config.Email">
                        <span class="k-invalid-msg" data-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 filter-label">Password</label>
                    <div class="col-md-7">
                        <input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Password" type="password" class="form-control input-sm" name="Password" placeholder="Type the Password Here" data-bind="value: usr.config.Password">
                        <span class="k-invalid-msg" data-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 filter-label">Groups</label>
                    <div class="col-md-7">
                        <input id='Groups' required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for Groups" type="text" class="form-control input-sm" name="Groups" placeholder="Type the Groups Here" data-bind="value: usr.config.Groups">
                        <span class="k-invalid-msg" data-for="Groups"></span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
    			<p class="pcustom">Privilege</p> -->
            <!-- <div id="gridaccess"></div> -->
            <!-- </div> -->
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-1 filter-label">Privilege</label>
                    <div class="col-sm-12">
                        <div class="nav">
                            <button class="btn btn-success btn-sm" data-bind="click: usr.addFromPrivilage">
							    <span class="glyphicon glyphicon-plus"></span> Add
							</button>
                        </div>
                        <table class="table" id="datasource-settings">
                            <thead>
                                <tr>
                                    <th width="200px;">Access</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                    <th>Special Access 1</th>
                                    <th>Special Access 2</th>
                                    <th>Special Access 3</th>
                                    <th>Special Access 4</th>                               
                                </tr>
                            </thead>
                            <tbody align="center" data-bind="foreach: usr.config.Grants">
                                <tr>
                                    <td>
                                         <select class="form-control input-sm" data-bind="value:usr.config.Grants()[$index()].AccessID ,options: usr.Access"></select>
                                    </td> 
                                    <td>
                                        <input type='checkbox' data-bind=" checked: AccessCreate" />
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessRead" />
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessUpdate" />
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessDelete" />
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial1"/>
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial1"/>
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial3"/>
                                    </td>
                                    <td>
                                        <input type='checkbox' data-bind=" checked: usr.config.Grants()[$index()].AccessSpecial4"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-danger" data-bind="click: usr.removeAccess($data)">
						        				<span class="glyphicon glyphicon-remove"></span>
						        		</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>