<script>
	viewModel.pageID = "{{.pageID}}";
</script>

<link href="/res/gridstack/gridstack.css" rel="stylesheet">
<link href="/res/gridstack/gridstack-extra.css" rel="stylesheet">

<script type="text/javascript" src="/res/core/page-view.js"></script>
<script src="/res/gridstack/gridstack.js"></script>

<div class="col-md-12">
	<h2 class="heading-tittle title-widget" style="text-align: center;"></h2>
	<div class="page-view">
		{{template "_miniloader.html"}}	
		<div class="grid-stack" id="page-designer-grid-stack" data-bind="visible: !app.miniloader()"></div>
	</div>
</div>
