<!-- core -->
<script src="/res/core/page-application.js"></script>
<script src="/res/core/page-server.js"></script>

<!-- sidebar -->
<div class="col-xs-6 col-sm-2" id="sidebar">
	<div class="row">
		<ul class="nav">
			<li><a href="#" data-bind="css: { 'active': (app.section() == 'application') }, click: app.changeActiveSection('application')">Application<span class="fa-pull-right"><i class="fa fa-server"></i></span></a></li>
			<li><a href="#" data-bind="css: { 'active': (app.section() == 'servers') }, click: app.changeActiveSection('servers')">Servers<span class="fa-pull-right"><i class="fa fa-database"></i></span></a></li>
		</ul>
	</div>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-10" id="content">
	<div class="col-md-12" data-bind="with: application, visible: (app.section() == 'application')">
		<h1>Application</h1>

		<nav class="navbar" data-bind="visible: (app.mode() == '')">
            <button class="btn btn-sm btn-primary navbar-btn" >
	    		<span class="glyphicon glyphicon-refresh"></span> Refresh
	    	</button>
            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: apl.createNewScrapper">
	    		<span class="glyphicon glyphicon-plus"></span> Create
	    	</button>
		</nav>

		<div class="panel" data-bind="visible: (app.mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Application</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="grid grid-data-application grid-service" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: apl.scrapperData, columns: apl.scrapperColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-data-application') }"></div>
		    </div>
		</div>
		<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
			<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: apl.backToFront">
	    		<span class="glyphicon glyphicon-chevron-left"></span> Back
	    	</button>
            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: apl.saveScrapper">
	    		<span class="glyphicon glyphicon-save"></span> Save
	    	</button>
	    	<button class="btn btn-sm btn-success navbar-btn" >
	    		 Download Template
	    	</button>
		</nav>

		<div class="panel" data-bind="visible: (app.mode() == 'editor')" style="width: 600px;">
			<div class="panel-heading">
		        <h1 class="panel-title"><span data-bind="text: (apl.scrapperMode() == '') ? 'Create New' : 'Edit'"></span>
		        </h1>
		    </div>
		    <div class="panel-body">
		    	<form class="form-horizontal form-application" id="form-add-scrapper" data-bind="with: configScrapper" novalidate>
		    		<div class="col-md-12">
			    		<div class="form-group">
				    		<label class="col-md-4 filter-label">Application ID</label>
				    		<div class="col-md-5">
				    			<input class="form-control input-sm full-width" type="text" data-bind="value: _id, enable: (apl.scrapperMode() == '')"/>
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-4 filter-label">Application Name</label>
				    		<div class="col-md-5">
				    			<input class="form-control input-sm full-width" type="text" data-bind="value: AppsName" />
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-4 filter-label">Auto Start</label>
				    		<div class="col-md-5">
				    			<input type="checkbox" id="Enable" data-bind="value: Enable" />
				    		</div>
			    		</div>
			    		
			    		<div class="form-group">
				    		<label class="col-md-4 filter-label">App Resources</label>
				    		<div class="col-md-5">
				    			<!-- <button type="file" class="btn btn-md btn-primary" data-bind="click: apl.uploadScrapper">Upload zip file here</button> -->
				    			<div class="k-content">
				                    <input name="files" id="files" type="file" data-bind="value: AppPath" accept=".zip" />
				                </div>
				    		</div>
			    		</div>
		    		</div>
		    	</form>
		    </div>
		</div>
	</div>
	<div class="col-md-12" data-bind="visible: (app.section() == 'servers')">
		{{template "page-servers.html"}}
	</div>
</div>
