<script>
	viewModel.templateModels = JSON.parse("{{.templateModels}}".replace(/\x22/g, '"'));
</script>

<!-- core -->
<script src="/res/core/page-pages.js"></script>

<!-- main area -->
<div class="col-xs-12 col-sm-12" id="content" data-bind="with: Pages">
	<div class="col-md-12" data-bind="visible: (app.section() == 'pages')">
		<h1>Page</h1>
		<nav class="navbar" id="nav-wigetList" data-bind="visible: (app.mode() == '')">
		    <button class="btn btn-sm btn btn-primary mgTop15" data-bind="visible: app.showfilter(), click: function () { app.showfilter(false) }">
		        <span class="glyphicon glyphicon-search"></span>                    
		    </button>
		    <button class="btn btn-sm btn btn-default mgTop15" data-bind="visible: !app.showfilter(), click: function () { app.showfilter(true) }">
		        <span class="glyphicon glyphicon-search"></span>                    
		    </button>
		    <div class="btn-group" role="group">
		        <button class="btn btn-sm btn-primary mgTop15" data-bind="click: function(){ getPages('refresh')}">
		            <span class="glyphicon glyphicon-refresh"></span> Refresh
		        </button>
		        <button class="btn btn-sm btn-primary mgTop15" data-bind="click: addPage">
		            <span class="glyphicon glyphicon-plus"></span> Add Page
		        </button>
		        <button class="btn btn-sm btn-danger mgTop15" id="removeWebGrabber" data-bind="click: removePage">
		            <span class="glyphicon glyphicon-remove"></span> Delete
		        </button>
		    </div>
		</nav>
		<nav class="navbar mgTop15 mgBtm-15" data-bind="visible: app.showfilter()">
		    <div class="col-md-4">
		        <label class="col-md-4 filter-label">
		            Search
		        </label>
		        <div class="col-md-8">
		            <input class="form-control full-width input-sm search" name="search" type="text" data-bind="value: searchField" placeholder="Type keyword here" />
		        </div>
		    </div>
		</nav>
		<div class="" data-bind="visible: (app.mode() == '')">
		    {{template "_miniloader.html"}}
		    <div data-bind="visible: !app.miniloader()">
			    <div class="panel-body">
			    	<div class="grid grid-page" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: p.pageData, change: p.selectPage, selectable: 'row', columns: p.pageColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-page') }"></div><br>
			    	<p class="bg-danger bgcustom">Please click row to edit!</p>
			    </div>
		    </div>

		</div>

		<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
			<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFront">
	    		<span class="glyphicon glyphicon-chevron-left"></span> Back
	    	</button>
            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: savePage">
	    		<span class="glyphicon glyphicon-save"></span> Save
	    	</button>
		</nav>
		<div class="panel" data-bind="visible: (app.mode() == 'editor')">
			<div class="panel-heading">
		        <h1 class="panel-title">
		        	<span data-bind="text: (scrapEdit() == '') ? 'Create new' : 'Edit'"></span>
		        	page
	        	</h1>
		    </div>
		    <div class="clearfix">&nbsp;</div>
			<div class="panel-body">
				<form class="form-horizontal form-add-page" data-bind="with: configPage" novalidate>
			    	<div class="col-md-12">
			    		<div class="form-group">
				    		<label class="col-md-3 databrowser-label">ID</label>
				    		<div class="col-md-7">
					    		<input required type="text" class="form-control input-sm" name="_id" placeholder="Type the page id Here" data-bind="value: _id">
								<span class="k-invalid-msg" data-for="_id"></span>
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-3 databrowser-label">Title</label>
				    		<div class="col-md-7">
					    		<input required type="text" class="form-control input-sm" name="title" placeholder="Type the page name Here" data-bind="value: title">
								<span class="k-invalid-msg" data-for="title"></span>
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-3 databrowser-label">URL</label>
				    		<div class="col-md-7">
					    		<input type="text" class="form-control input-sm" name="url" placeholder="Example /test will become /page/test" data-bind="value: url">
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-3 databrowser-label">Page Data Sources</label>
				    		<div class="col-md-7">
					    		<select required data-bind="kendoMultiSelect:{ autoClose: false, data: p.dataSources, value: dataSources, placeholder: 'Choose the data source', dataValueField: '_id', dataTextField: '_id' }" name="datasource" id="datasource"></select>
							    <span class="k-invalid-msg" data-for="datasource"></span>
				    		</div>
			    		</div>
			    	</div>
			    </form>
			</div>
		</div>

	</div>
</div>