<link href="/res/js/tokeninput/token-input.css" rel="stylesheet">
<link href="/res/js/tokeninput/token-input-facebook.css" rel="stylesheet">
<script src="/res/js/tokeninput/jquery.tokeninput.js"></script>
<script src="/res/core/datasource.js"></script>
<script src="/res/core/query.js"></script>

<!-- sidebar -->
<div class="col-xs-6 col-sm-2" id="sidebar" data-bind="with: datasource">
	<div class="row">
		<ul class="nav">
			<li><a href="#" data-bind="css: { 'active': (section() == 'connection-list') }, click: changeActiveSection('connection-list')">Connection List<span class="fa-pull-right"><i class="fa fa-server"></i></span></a></li>
			<li><a href="#" data-bind="css: { 'active': (section() == 'data-source') }, click: changeActiveSection('data-source')">Data Source<span class="fa-pull-right"><i class="fa fa-database"></i></span></a></li>
		</ul>
	</div>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-10" id="content" data-bind="with: datasource">
	<div class="col-md-12" data-bind="visible: (section() == 'connection-list')">
		<h1>Connection List</h1>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == '')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: populateGridConnections">
		    		<span class="glyphicon glyphicon-refresh"></span> Refresh
		    	</button>
	            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: openConnectionForm">
		    		<span class="glyphicon glyphicon-plus"></span> Create New Connection
		    	</button>
		    </div>
		</nav>

		<div class="panel panel-default" data-bind="visible: (mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">All Connections</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="grid" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: connectionListData, columns: connectionListColumns, filterfable: false, pageable: true }"></div>
		    </div>
		</div>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == 'edit')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFrontPage">
		    		<span class="glyphicon glyphicon-chevron-left"></span> Back
		    	</button>
	            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: saveNewConnection">
		    		<span class="glyphicon glyphicon-save"></span> Save
		    	</button>
	            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: testConnection">
		    		<span class="glyphicon glyphicon-save"></span> Test Connection
		    	</button>
		    </div>
		</nav>

		<div class="panel panel-default" data-bind="visible: (mode() == 'edit')" style="width: 600px;">
		    <div class="panel-heading">
		        <h1 class="panel-title">
		        	<span data-bind="text: (config.id() == '') ? 'Add New' : 'Edit'"></span>
		        	Connection
	        	</h1>
		    </div>
		    <div class="panel-body">
				<form class="form-horizontal" data-bind="with: config" id="form-add-connection" novalidate>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Connection Name</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="Name" placeholder="Type connection name here" data-bind="value: name">
							<span class="k-invalid-msg" data-for="Name"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Driver</label>
				        <div class="col-sm-5">
				        	<select required data-required-msg="Driver cannot be empty" name="driver" style="width: 100%" data-bind="kendoDropDownList: { data: ds.templateDrivers, dataValueField: 'value', dataTextField: 'text', value: driver, optionLabel: 'Select one' }"></select>
							<span class="k-invalid-msg" data-for="driver"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Host</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="Host" placeholder="Example: 127.0.0.1:27108" data-bind="value: host">
							<span class="k-invalid-msg" data-for="Host"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Database</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="Database" placeholder="Example: mydatabase" data-bind="value: database">
							<span class="k-invalid-msg" data-for="Database"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">User Name</label>
				        <div class="col-sm-5">
				            <input type="text" class="form-control input-sm" name="Username" placeholder="Example: root" data-bind="value: username">
							<span class="k-invalid-msg" data-for="Username"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Password</label>
				        <div class="col-sm-5">
				            <input type="password" class="form-control input-sm" placeholder="Type password here" data-bind="value: password">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Settings</label>
				        <div class="col-sm-8">
				        	<div class="nav">
				        		<button class="btn btn-primary btn-sm" data-bind="click: ds.addSettings">
				        			<span class="glyphicon glyphicon-plus"></span> Add
				        		</button>
				        	</div>
				        	<table id="datasource-settings">
			        			<thead>
			        				<tr>
			        					<th>Key</th>
			        					<th>Value</th>
			        				</tr>
			        			</thead>
			        			<tbody data-bind="foreach: settings">
			        				<tr>
			        					<td>
			        						<input class="form-control input-sm" type="text" style="width: 100%;" data-bind="value: key" />
			        					</td>
			        					<td>
			        						<input class="form-control input-sm" type="text" style="width: 100%;" data-bind="value: value" />
			        					</td>
			        					<td>
			        						<button class="btn btn-sm btn-danger" data-bind="visible: ($index() > 0)">
			        							<span class="glyphicon glyphicon-remove" data-bind="click: ds.removeSetting($data)"></span>
			        						</button>
			        					</td>
			        				</tr>
			        			</tbody>
				        	</table>
				        </div>
				    </div>
				</form>
		    </div>
		</div>
	</div>

	<div class="col-md-12" data-bind="visible: (section() == 'data-source')">
		<h1>Data Source</h1>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == '')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: populateGridDataSource">
		    		<span class="glyphicon glyphicon-refresh"></span> Refresh
		    	</button>
		    	<button class="btn btn-sm btn-success navbar-btn" data-bind="click: openDataSourceForm">
		    		<span class="glyphicon glyphicon-plus"></span> Create New Data Source
		    	</button>
		    </div>
		</nav>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFrontPage">
		    		<span class="glyphicon glyphicon-chevron-left"></span> Back
		    	</button>
	            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: saveNewDataSource">
		    		<span class="glyphicon glyphicon-save"></span> Save
		    	</button>
		    	<button class="btn btn-sm btn-primary navbar-btn">
		    		<span class="glyphicon glyphicon-play"></span> Test Query
		    	</button>
		    </div>
		</nav>

		<div class="panel panel-default" data-bind="visible: (mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">All Data Sources</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="gridDataSource" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: dataSourcesData, columns: dataSourceColumns, filterfable: false, sortable: true, pageable: true }"></div>
		    </div>
		</div>

		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="panel-heading">
		        <h1 class="panel-title">
		        	<span data-bind="text: (config.id() == '') ? 'Add New' : 'Edit'"></span>
		        	Data Source
	        	</h1>
		    </div>
		    <div class="panel-body">
				<div class="row form-datasource" data-bind="with: confDataSource">
					<div class="col-md-6">
			        	<label class="col-md-3 filter-label">Name</label>
			        	<div class="col-md-8">
			        		<input required type="text" class="form-control input-sm" name="query" placeholder="Type name here" data-bind="value: name">
							<span class="k-invalid-msg" data-for="query"></span>
			        	</div>
			        </div>
				    <div class="col-md-6">
			            <label class="col-md-3 filter-label">Connection</label>
			            <div class="col-md-8">
			                <select required class="data-connection" data-bind="kendoDropDownList: { data: viewModel.datasource.connectionListData, dataTextField: 'name', dataValueField: 'id', optionLabel: 'Select one', value: connectionId }" style="width: 200px;" name="connection"></select>
							<span class="k-invalid-msg" data-for="connection"></span>
			            </div>
			        </div>
				</div>
		    </div>
		</div>

		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Query</h1>
		    </div>
		    <div class="panel-body">
				<div class="row form-datasource" data-bind="with: viewModel.query">
			        <div class="col-md-2 nav-command">
			        	<label class="title-command">Commands</label>
			        	<ul class="nav" data-bind="foreach: datacommands">
							<li><a href="#" data-bind="css: { 'active': (viewModel.query.command() == $data.key) }, click: viewModel.query.changeActiveCommand($data)"><span class="fa fa-caret-right"></span>&nbsp;&nbsp;<span data-bind="text: $data.key"></span></a></li>
						</ul>
			        </div>
			        <div class="col-md-10 area-command">
			        	<!-- <textarea placeholder="Input query commands" id="textquery"></textarea> -->
			        	<input type='text' id='textquery' name='textquery' />
			        </div>
				</div>
		    </div>
		</div>

		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource' && confDataSource.metadata().length > 0)">
		    <div class="panel-heading">
		        <h1 class="panel-title">Meta Data</h1>
		    </div>
		    <div class="panel-body">
		    	<div id="grid-metadata" data-bind="kendoGrid: { data: confDataSource.metadata, columns: ds.metadataColumns, pageable: false, resizable: false, filterable: false }"></div>
		    </div>
		</div>
		
	</div>
</div>

<!-- modal preview -->
<div class="modal fade modal-lookup" tabindex="-1" role="dialog" id="modal-lookup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: 'Lookup for field ' + ds.confLookup.displayField()"></h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal" id="form-lookup" novalidate>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Data Source</label>
				        <div class="col-sm-5">
				            <select required data-required-msg="Data source cannot be empty" name="lookup-datasource" style="width: 100%" data-bind="kendoDropDownList: { data: ds.dataSourcesData, dataValueField: 'id', dataTextField: 'name', value: ds.confLookup.dataSourceId, optionLabel: 'Select one', change: ds.changeLookupDataSource }"></select>
							<span class="k-invalid-msg" data-for="lookup-datasource"></span>
				        </div>
				    </div>
				    <!-- <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Display</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="lookup-displayfield" placeholder="Type display field here" data-bind="value: ds.confLookup.displayField">
							<span class="k-invalid-msg" data-for="lookup-displayfield"></span>
				        </div>
				    </div> -->
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Fields</label>
				        <div class="col-sm-5">
				            <select required data-required-msg="Fields cannot be empty" name="lookup-fields" style="width: 100%" data-bind="kendoMultiSelect: { data: ds.lookupFields, dataValueField: 'id', dataTextField: 'label', value: ds.confLookup.lookupFields, optionLabel: 'Select one' }"></select>
							<span class="k-invalid-msg" data-for="lookup-fields"></span>
				        </div>
				    </div>
				</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">
                	<span class="glyphicon glyphicon-remove"></span> Close
                </button>
                <button type="button" class="btn btn-sm btn-success" data-bind="click: ds.saveLookup">
                	<span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Query -->
<div class="modal fade modal-query" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" data-bind="with:viewModel.query">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Query</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control input-sm" placeholder="Input type here !!" data-bind="value:paramQuery"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click:queryCancel"><span class="glyphicon glyphicon-remove"></span> Close</button>
				<button type="button" class="btn btn-primary" data-bind="click:querySave"><span class="glyphicon glyphicon-save"></span> Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Where -->
<div class="modal fade modal-query-where" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Query Where</h4>
			</div>
			<div class="modal-body">
				<select required data-required-msg="Where cannot be empty" name="query-where" style="width: 100%" data-bind="kendoDropDownList: { data: viewModel.query.datawhere, dataValueField: 'key', dataTextField: 'type', value: ds.confLookup.dataSourceId, optionLabel: 'Select one', change: ds.changeLookupDataSource }"></select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
				<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
			</div>
		</div>
	</div>
</div>