<link href="/res/js/tokeninput/token-input.css" rel="stylesheet">
<link href="/res/js/tokeninput/token-input-facebook.css" rel="stylesheet">
<script src="/res/js/tokeninput/jquery.tokeninput.js"></script>
<script src="/res/core/datasource.js"></script>
<script src="/res/core/query.js"></script>

<!-- sidebar -->
<div class="col-xs-6 col-sm-2" id="sidebar" data-bind="with: datasource">
	<div class="row">
		<ul class="nav">
			<li><a href="#" data-bind="css: { 'active': (section() == 'connection-list') }, click: changeActiveSection('connection-list')">Connection List<span class="fa-pull-right"><i class="fa fa-server"></i></span></a></li>
			<li><a href="#" data-bind="css: { 'active': (section() == 'data-source') }, click: changeActiveSection('data-source')">Data Source<span class="fa-pull-right"><i class="fa fa-database"></i></span></a></li>
		</ul>
	</div>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-10" id="content" data-bind="with: datasource">
	<div class="col-md-12" data-bind="visible: (section() == 'connection-list')">
		<h1>Connection List</h1>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == '')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: populateGridConnections">
		    		<span class="glyphicon glyphicon-refresh"></span> Refresh
		    	</button>
	            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: openConnectionForm">
		    		<span class="glyphicon glyphicon-plus"></span> Create New Connection
		    	</button>
		    </div>
		</nav>

		<div class="panel panel-default" data-bind="visible: (mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">All Connections</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="grid" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: connectionListData, columns: connectionListColumns, filterfable: false, pageable: true }"></div>
		    </div>
		</div>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == 'edit')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFrontPage">
		    		<span class="glyphicon glyphicon-chevron-left"></span> Back
		    	</button>
	            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: saveNewConnection">
		    		<span class="glyphicon glyphicon-save"></span> Save
		    	</button>
	            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: testConnection">
		    		<span class="glyphicon glyphicon-save"></span> Test Connection
		    	</button>
		    </div>
		</nav>

		<div class="panel panel-default" data-bind="visible: (mode() == 'edit')" style="width: 600px;">
		    <div class="panel-heading">
		        <h1 class="panel-title">
		        	<span data-bind="text: (config._id() == '') ? 'Add New' : 'Edit'"></span>
		        	Connection
	        	</h1>
		    </div>
		    <div class="panel-body">
				<form class="form-horizontal" data-bind="with: config" id="form-add-connection" novalidate>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Connection Name</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="Name" placeholder="Type connection name here" data-bind="value: ConnectionName">
							<span class="k-invalid-msg" data-for="Name"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Driver</label>
				        <div class="col-sm-5">
				        	<select required data-required-msg="Driver cannot be empty" name="driver" style="width: 100%" data-bind="kendoDropDownList: { data: ds.templateDrivers, dataValueField: 'value', dataTextField: 'text', value: Driver, optionLabel: 'Select one' }"></select>
							<span class="k-invalid-msg" data-for="driver"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Host</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="Host" placeholder="Example: 127.0.0.1:27108" data-bind="value: Host">
							<span class="k-invalid-msg" data-for="Host"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Database</label>
				        <div class="col-sm-5">
				            <input required type="text" class="form-control input-sm" name="Database" placeholder="Example: mydatabase" data-bind="value: Database">
							<span class="k-invalid-msg" data-for="Database"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">User Name</label>
				        <div class="col-sm-5">
				            <input type="text" class="form-control input-sm" name="Username" placeholder="Example: root" data-bind="value: UserName">
							<span class="k-invalid-msg" data-for="Username"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Password</label>
				        <div class="col-sm-5">
				            <input type="password" class="form-control input-sm" placeholder="Type password here" data-bind="value: Password">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Settings</label>
				        <div class="col-sm-8">
				        	<div class="nav">
				        		<button class="btn btn-primary btn-sm" data-bind="click: ds.addSettings">
				        			<span class="glyphicon glyphicon-plus"></span> Add
				        		</button>
				        	</div>
				        	<table id="datasource-settings">
			        			<thead>
			        				<tr>
			        					<th>Key</th>
			        					<th>Value</th>
			        				</tr>
			        			</thead>
			        			<tbody data-bind="foreach: Settings">
			        				<tr>
			        					<td>
			        						<input class="form-control input-sm" type="text" style="width: 100%;" data-bind="value: key" />
			        					</td>
			        					<td>
			        						<input class="form-control input-sm" type="text" style="width: 100%;" data-bind="value: value" />
			        					</td>
			        					<td>
			        						<button class="btn btn-sm btn-danger" data-bind="visible: ($index() > 0)">
			        							<span class="glyphicon glyphicon-remove" data-bind="click: ds.removeSetting($data)"></span>
			        						</button>
			        					</td>
			        				</tr>
			        			</tbody>
				        	</table>
				        </div>
				    </div>
				</form>
		    </div>
		</div>
	</div>

	<div class="col-md-12" data-bind="visible: (section() == 'data-source')">
		<h1>Data Source</h1>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == '')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: populateGridDataSource">
		    		<span class="glyphicon glyphicon-refresh"></span> Refresh
		    	</button>
		    	<button class="btn btn-sm btn-success navbar-btn" data-bind="click: openDataSourceForm">
		    		<span class="glyphicon glyphicon-plus"></span> Create New Data Source
		    	</button>
		    </div>
		</nav>

		<nav class="navbar navbar-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="container-fluid">
	            <button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFrontPage">
		    		<span class="glyphicon glyphicon-chevron-left"></span> Back
		    	</button>
	            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: saveNewDataSource">
		    		<span class="glyphicon glyphicon-save"></span> Save
		    	</button>
		    	<button class="btn btn-sm btn-primary navbar-btn" data-bind="click: testQuery">
		    		<span class="glyphicon glyphicon-play"></span> Run Query
		    	</button>
		    </div>
		</nav>

		<div class="panel panel-default" data-bind="visible: (mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">All Data Sources</h1>
		    </div>
		    <div class="panel-body">
		    	<div class="gridDataSource" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: dataSourcesData, columns: dataSourceColumns, filterfable: false, sortable: true, pageable: true }"></div>
		    </div>
		</div>

		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="panel-heading">
		        <h1 class="panel-title">
		        	<span data-bind="text: (config._id() == '') ? 'Add New' : 'Edit'"></span>
		        	Data Source
	        	</h1>
		    </div>
		    <div class="panel-body">
				<form class="form-horizontal form-datasource" data-bind="with: confDataSource" novalidate>
					<div class="form-group">
						<div class="col-md-6">
				        	<label class="col-md-3 filter-label" style="text-align: right;">Name</label>
				        	<div class="col-md-8">
				        		<input required type="text" class="form-control input-sm" name="query" placeholder="Type name here" data-bind="value: DataSourceName">
								<span class="k-invalid-msg" data-for="query"></span>
				        	</div>
				        </div>
					    <div class="col-md-6">
				            <label class="col-md-3 filter-label" style="text-align: right;">Connection</label>
				            <div class="col-md-8">
				                <select required class="data-connection" data-bind="kendoDropDownList: { data: viewModel.datasource.connectionListData, dataTextField: 'ConnectionName', dataValueField: '_id', optionLabel: 'Select one', value: ConnectionID, change: ds.changeDataSourceConnection }" style="width: 100%;" name="connection"></select>
								<span class="k-invalid-msg" data-for="connection"></span>
				            </div>
				        </div>
				    </div>
					<div class="form-group">
					    <div class="col-md-6 col-md-offset-6">
				            <label class="col-md-3 filter-label" style="text-align: right;">Database</label>
				            <div class="col-md-8">
					            <input readonly disabled type="text" class="form-control input-sm" data-bind="value: ds.confDataSourceConnectionInfo.Database" />
				            </div>
				        </div>
				    </div>
				</form>
		    </div>
		</div>

		<ul class="nav nav-tabs" data-bind="visible: (mode() == 'editDataSource')">
		    <li class="active"><a data-target="#ds-tab-1" data-toggle="tab">Query Builder</a></li>
		    <li><a data-target="#ds-tab-2" data-toggle="tab">Meta Data</a></li>
		    <li><a data-target="#ds-tab-3" data-toggle="tab">Query Result</a></li>
		</ul>

		<div class="tab-content" data-bind="visible: (mode() == 'editDataSource')" style="padding-top: 10px;">
		
		<div class="tab-pane active" id="ds-tab-1">
		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Query Builder</h1>
		    </div>
		    <div class="panel-body">
				<div class="row form-datasource" data-bind="with: viewModel.query">
			        <div class="col-md-2 nav-command">
			        	<label class="title-command">Commands</label>
			        	<ul class="nav" data-bind="foreach: dataCommand">
							<li>
								<a href="#" data-bind="click: viewModel.query.addFilter($data)">
									<span class="fa fa-caret-right"></span>
									&nbsp;&nbsp;
									<span data-bind="text: $data.key"></span>
								</a>
							</li>
						</ul>
			        </div>
			        <div class="col-md-10 area-command">
			        	<label class="title-command">Query Editor</label>
			        	<!-- <textarea placeholder="Input query commands" id="textquery"></textarea> -->
			        	<input type='text' id='textquery' name='textquery' />
			        </div>
				</div>
		    </div>
		</div>
		</div>

		<div class="tab-pane" id="ds-tab-2">
		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Meta Data</h1>
		    </div>
		    <div class="panel-body" data-bind="visible: (confDataSource.MetaData().length > 0)">
		    	<div id="grid-metadata" data-bind="kendoGrid: { data: confDataSource.MetaData, columns: ds.metadataColumns, pageable: false, resizable: false, filterable: false, sortable: true }"></div>
		    </div>
		    <div class="panel-body" data-bind="visible: (confDataSource.MetaData().length == 0)">
				<br />
		    </div>
		</div>
		</div>

		<div class="tab-pane" id="ds-tab-3">
		<div class="panel panel-default" data-bind="visible: (mode() == 'editDataSource')">
		    <div class="panel-heading">
		        <h1 class="panel-title">Query Test Result</h1>
		    </div>
		    <div class="panel-body" data-bind="visible: idThereAnyDataSourceResult()">
		    	<div id="grid-ds-result"></div>
		    </div>
		    <div class="panel-body" data-bind="visible: !idThereAnyDataSourceResult()">
		    	<p class="bg-notif bg-info">
			    	Need to run 
			    	<button class="btn btn-xs btn-primary" data-bind="click: testQuery">
			    		<span class="glyphicon glyphicon-play"></span> Test Query
			    	</button> 
			    	to see the result.
		    	</p>
		    </div>
		</div>
		</div>

		</div>
	</div>
</div>

<!-- modal preview -->
<div class="modal fade modal-lookup" tabindex="-1" role="dialog" id="modal-lookup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: 'Lookup for field ' + ds.confLookup.DisplayFieldOrigin()"></h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal" id="form-lookup" novalidate>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Data Source</label>
				        <div class="col-sm-5">
				            <select required data-required-msg="Data source cannot be empty" name="lookup-datasource" style="width: 100%" data-bind="kendoDropDownList: { data: ds.dataSourceDataForLookup, dataValueField: '_id', dataTextField: 'DataSourceName', value: ds.confLookup.DataSourceID, optionLabel: 'Select one', change: ds.changeLookupDataSource }"></select>
							<span class="k-invalid-msg" data-for="lookup-datasource"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">ID Field</label>
				        <div class="col-sm-5">
				            <select required data-required-msg="ID Field cannot be empty" name="lookup-idfield" style="width: 100%" data-bind="kendoDropDownList: { data: ds.lookupFields, value: ds.confLookup.IDField, optionLabel: 'Select one', dataValueField: '_id', dataTextField: '_id' }"></select>
							<span class="k-invalid-msg" data-for="lookup-idfield"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Display Field</label>
				        <div class="col-sm-5">
				            <select required data-required-msg="Display Field cannot be empty" name="lookup-displayfield" style="width: 100%" data-bind="kendoDropDownList: { data: ds.lookupFields, value: ds.confLookup.DisplayField, optionLabel: 'Select one', dataValueField: 'Label', dataTextField: 'Label' }"></select>
							<span class="k-invalid-msg" data-for="lookup-displayfield"></span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 filter-label" style="text-align: right">Lookup Fields</label>
				        <div class="col-sm-5">
				            <select name="lookup-fields" style="width: 100%" data-bind="kendoMultiSelect: { data: ds.lookupFields, dataValueField: '_id', dataTextField: '_id', value: ds.confLookup.LookupFields, optionLabel: 'Select one' }"></select>
							<span class="k-invalid-msg" data-for="lookup-fields"></span>
				        </div>
				    </div>
				</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">
                	<span class="glyphicon glyphicon-remove"></span> Close
                </button>
                <button type="button" class="btn btn-sm btn-success" data-bind="click: ds.saveLookup">
                	<span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Query -->
<div class="modal fade modal-query" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" data-bind="with:viewModel.query">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					Data for <span data-bind="text: qr.queryBuilderMode"></span>
				</h4>
			</div>

			<div class="modal-body" data-bind="visible: qr.queryBuilderMode() == 'select'">
			    <div class="form-group">
		    		<label class="col-md-4 filter-label" style="text-align: right;">Fields</label>
		        	<div class="col-md-6">
		        		<select data-bind="kendoMultiSelect: { data: ds.confDataSource.MetaData, dataValueField: '_id', dataTextField: '_id', value: qr.queryOfSelect, placeholder: 'Choose the fields' }"></select>
		        	</div>
		        	<div class="clearfix"></div>
	        	</div>
        	</div>

			<div class="modal-body" data-bind="visible: qr.queryBuilderMode() == 'update' || qr.queryBuilderMode() == 'insert'">
				<div class="col-md-12" style="margin-bottom: 10px;">
					<button class="btn btn-sm btn-primary" data-bind="click: addQueryOfInsert">
						<span class="glyphicon glyphicon-plus"></span>
						Add more
					</button>
				</div>
	        	<div class="col-md-12" data-bind="foreach: queryOfInsert">
				    <div class="form-group">
				        <label class="col-sm-2 filter-label" style="text-align: right; padding-left: 0px;">Field</label>
	        			<div class="col-md-3" style="padding-left: 0px;">
	        				<input type="text" class="form-control input-sm" placeholder="Type field here" style="width: 100%;" data-bind="value: $data.field, enable: ($index() > 0)" />
	        			</div>

				        <label class="col-sm-2 filter-label" style="text-align: right; padding-left: 0px;">Value</label>
	        			<div class="col-md-3" style="padding-left: 0px;">
	        				<input type="text" class="form-control input-sm" placeholder="Type value here" style="width: 100%;" data-bind="value: $data.value" />
	        			</div>
	        			<div class="col-md-1">
							<button class="btn btn-sm btn-danger" data-bind="click: qr.removeQueryOfInsert($index()), visible: ($index() > 0)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
	        			</div>
        				<div class="clearfix"></div>
				    </div>
	        	</div>
	        	<div class="clearfix"></div>
        	</div>

			<div class="modal-body" data-bind="visible: qr.queryBuilderMode() == 'from'">
			    <div class="form-group">
		    		<label class="col-md-4 filter-label" style="text-align: right;">Table Name</label>
		        	<div class="col-md-6">
		        		<input type="text" class="form-control input-sm" style="width: 100%;"  placeholder="Example: 'table_test'" data-bind="value: qr.queryOfFrom" />
		        	</div>
		        	<div class="clearfix"></div>
	        	</div>
        	</div>

			<div class="modal-body" data-bind="visible: qr.queryBuilderMode() == 'order'">
				<div class="form-group">
			        <label class="col-sm-4 filter-label" style="text-align: right; padding-left: 0px;">Order Field</label>
        			<div class="col-md-3" style="padding-left: 0px;">
		        		<select data-bind="kendoDropDownList: { data: ds.confDataSource.MetaData, dataValueField: '_id', dataTextField: '_id', value: qr.queryOfOrder.field, optionLabel: 'Select one' }"></select>
        			</div>
    				<div class="clearfix"></div>
				</div>
				<div class="form-group">
			        <label class="col-sm-4 filter-label" style="text-align: right; padding-left: 0px;">Order Direction</label>
        			<div class="col-md-3" style="padding-left: 0px;">
		        		<select data-bind="kendoDropDownList: { data: qr.dataWhereOfOrder, dataValueField: 'value', dataTextField: 'title', value: qr.queryOfOrder.direction, optionLabel: 'Select one' }"></select>
        			</div>
    				<div class="clearfix"></div>
			    </div>
        	</div>

			<div class="modal-body" data-bind="visible: qr.queryBuilderMode() == 'take' || qr.queryBuilderMode() == 'skip'">
			    <div class="form-group">
		    		<label class="col-md-5 filter-label" style="text-align: right; text-transform: capitalize" data-bind="text: 'Total ' + qr.queryBuilderMode() + ' records'"></label>
		        	<div class="col-md-4">
		        		<input type="text" style="width: 100%;" data-bind="kendoNumericTextBox: { min: 0, format: '#', value: qr.queryOfTake, placeholder: 'Example: 2' }" />
		        	</div>
		        	<div class="clearfix"></div>
	        	</div>
        	</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Close
				</button>
				<button type="button" class="btn btn-sm btn-primary" data-bind="click: querySave">
					<span class="glyphicon glyphicon-save"></span> Save
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Where -->
<div class="modal fade modal-query-where" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Query Where</h4>
			</div>
			<div class="modal-body" data-bind="with:viewModel.query">
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-sm btn-primary btn-addwhere" data-bind="click:addQueryWhere"><span class="glyphicon glyphicon-plus"></span> Add</button>
					</div>
				</div>
				<div class="row" data-bind="template:{name:'queryWhere', foreach:valueWhere}">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Close
				</button>
				<button type="button" class="btn btn-sm btn-primary" data-bind="click: qr.saveWhere">
					<span class="glyphicon glyphicon-save"></span> Save
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Lookup Data -->
<div class="modal fade modal-lookup-data" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					Lookup Data
					<span data-bind="text: ds.lokupModalLabel"></span>
				</h4>
			</div>
			<div class="modal-body">
				<div id="grid-lookup-data"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Close
				</button>
			</div>
		</div>
	</div>
</div>

<script id="queryWhere" type="text/html">
	<div class="list-where col-md-12">
		<div class="col-md-3">
			<select required data-required-msg="Where cannot be empty" name="query-where" style="width: 100%" data-bind="kendoDropDownList: { data: qr.datawhere, dataValueField: 'key', dataTextField: 'key', value: key, optionLabel: 'Select one', select: qr.changeQueryWhere }"></select>
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control input-sm" data-bind="value: field" placeholder="Type field name here" />
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control input-sm" data-bind="value: value" placeholder="Type value here" />
		</div>
		<div class="col-md-1">
			<button class="btn btn-sm btn-danger" data-bind="visible: ($index() > 0)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	</div>
</script>

<script id="querySubWhere" type="text/html">
</script>