<style>
	.no-left-padding {
		padding-left: 0px;
	}
	.grid-langEnvi .btn-start.disabled {
		opacity: 0.7;
		background-color: #DCDCDC;
    	border-color: #D0D0D0;
	}
	.grid-langEnvi .btn-start.disabled:hover {
		background-color: #DCDCDC;
    	border-color: #D0D0D0;
	}
	.subtitle {
	    border-bottom: 1px solid #CCCCCC;
	    padding-bottom: 5px;
	}
</style>

<ol class="breadcrumb bc-custom">
	<li>Servers</li>
	<li class="active">
		<span data-bind="text: srv.breadcrumb"></span> Servers
	</li>
</ol>

<nav class="navbar" data-bind="visible: (app.mode() == '')">
	<button class="btn btn-sm btn btn-primary mgTop15" data-bind="visible: app.showfilter(), click: function () { app.showfilter(false); }">
		<span class="glyphicon glyphicon-search"></span>
	</button>
	<button class="btn btn-sm btn btn-default mgTop15" data-bind="visible: !app.showfilter(), click: function () { app.showfilter(true); }">
		<span class="glyphicon glyphicon-search"></span>
	</button>
	<div class="btn-group" role="group">
		<button class="btn btn-sm btn-primary mgTop15" data-bind="click: srv.getServers">
    		<span class="glyphicon glyphicon-refresh"></span> Refresh
    	</button>
        <button class="btn btn-sm btn-primary mgTop15" data-bind="click: srv.createNewServer">
    		<span class="glyphicon glyphicon-plus"></span> Create New Server
    	</button>
    	<button class="btn btn-sm btn-primary mgTop15" data-bind="click: srv.popupWizard">
    		<span class="glyphicon glyphicon-send"></span> Add Wizard
    	</button>
    	<button class="btn btn-sm btn-danger mgTop15" data-bind="click: srv.removeServer">
    		<span class="glyphicon glyphicon-remove"></span> Delete
    	</button>
	</div>
</nav>

<nav class="navbar mgTop15 mgBtm-15" data-bind="visible: app.showfilter()">
	<div class="col-md-4">
		<div class="form-group">
			<label class="col-md-4 filter-label no-left-padding">
				Search
			</label>
			<div class="col-md-8">
				<input class="form-control full-width input-sm searchsrv" name="search" type="text" data-bind="value: srv.filter.search" placeholder="Type keyword here" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
	    	<label class="col-md-4 filter-label no-left-padding">
	    		Server OS
	    	</label>
	    	<div class="col-md-8">
	    		<select name="os" class="full-width" data-bind="kendoDropDownList: { data: srv.templateOS, dataValueField: 'value', dataTextField: 'text', value: srv.filter.serverOS, optionLabel: 'Select one' }"></select>
	    	</div>
			<div class="clearfix"></div>
		</div>
    </div>
</nav>

<div class="" data-bind="visible: (app.mode() == '')">
    <div class="pdCustom position-custom">
		{{template "_miniloader.html"}}
		<div data-bind="visible: !app.miniloader()">
    		<div class="grid grid-server" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: srv.ServerData, selectable: 'multiple, row', change: srv.selectGridServer, columns: srv.ServerColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-server')}"></div>
		    <p class="bg-danger bgcustom">Please click row to edit!</p>
    	</div>
    </div>
</div>

<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
	<button class="btn btn-sm btn-default mgTop15" data-bind="click: srv.backToFront">
		<span class="glyphicon glyphicon-chevron-left"></span> Back
	</button>
	<div class="btn-group">
	    <button class="btn btn-sm btn-primary mgTop15" data-bind="click: srv.saveServer">
			<span class="glyphicon glyphicon-save"></span> Save
		</button>
	    <button class="btn btn-sm btn-primary mgTop15" data-bind="click: srv.testConnection, visible: !srv.isMultiServer()">
			<span class="fa fa-info-circle"></span> Test Connection
		</button>
		<button class="btn btn-sm btn-danger mgTop15" id="removeOnEditServer" data-bind="srv.removeServer(), visible: showServer">
			<span class="glyphicon glyphicon-remove"></span> Delete
		</button>
	</div>
</nav>

<ul id="myTab" class="nav nav-tabs" data-bind="visible: (app.mode() == 'editor')">
	<li class="active"><a href="#Form-server" data-toggle="tab">General</a></li>
	<!-- <li data-bind="visible: (srv.ServerMode() != '')"><a href="#Applications-server"  data-toggle="tab">Applications</a></li> -->
	<li><a href="#Service-server" data-toggle="tab">Other services</a></li>
</ul>

<div data-bind="visible: (app.mode() == 'editor')">
	{{template "_miniloader.html"}}
 	<div class="position-custom">
    	<div id="myTabContent" class="tab-content" data-bind="visible: !app.miniloader()">
			<div class="tab-pane fade in active" id="Form-server">
				<div class="panel" >
			    	<div class="panel-body">
				    	<form class="form-horizontal form-server" id="form-add-Server" data-bind="with: configServer" novalidate>
				    		<div class="col-md-12 row">
				    			<p class="subtitle pcustom">Server Information</p>
				    		</div>

				    		<div class="col-md-6">
					    		<div class="form-group" data-bind="style: { visibility: (srv.isMultiServer() ? 'hidden' : 'visible') }">
						    		<label class="col-md-3 filter-label">ID</label>
						    		<div class="col-md-7">
						    			<input required data-required-msg="Server ID cannot be empty" pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for ID" type="text" class="form-control input-sm" name="server-id" placeholder="Type the Server ID Here" data-bind="value: _id, enable: (srv.ServerMode() == '')">
										<span class="k-invalid-msg" data-for="server-id"></span>
						    		</div>
					    		</div>
				    			<div class="form-group">
							    	<label class="col-md-3 filter-label">Server Host</label>
						    		<div class="col-md-7">
						    			<input required data-required-msg="Server host cannot be empty" type="text" class="form-control input-sm" name="server-host" placeholder="Type Host Here" data-bind="value: host">
										<span class="k-invalid-msg" data-for="server-host"></span>
						    		</div>
					    		</div>
					    		<div class="form-group">
						    		<label class="col-md-3 filter-label">Server OS</label>
						    		<div class="col-md-7">
						    			<select required data-required-msg="Server OS cannot be empty" name="server-os" class="col-100" data-bind="kendoDropDownList: { data: srv.templateOS, dataValueField: 'value', dataTextField: 'text', value: os }">
								        </select>
					    				<span class="k-invalid-msg" data-for="server-os"></span>
					    				<!-- <p class="mgTop5">*) not yet tested</p>
								        <div><span class="k-invalid-msg" data-for="os"></span></div> -->
						    		</div>
					    		</div>
				    		</div>
				    		<div class="col-md-6">
					    		<div class="form-group">
						    		<div class="col-md-offset-3 col-md-9" style="height: 30px; padding-top: 7px;">
						    			<input type="checkbox" data-bind="checked: isColonyServer">&nbsp;&nbsp;&nbsp;Setup Colony Environment
						    		</div>
					    		</div>
					    		<div class="form-group">
						    		<label class="col-md-3 filter-label">App Path</label>
						    		<div class="col-md-9">
						    			<input required data-required-msg="App Path cannot be empty" type="text" class="form-control input-sm" name="app-path" placeholder="Example: /Users/test/app-path" data-bind="value: appPath, enable: isColonyServer">
										<span class="k-invalid-msg" data-for="app-path"></span>
						    		</div>
					    		</div>
					    		<div class="form-group">
						    		<label class="col-md-3 filter-label">Data Path</label>
						    		<div class="col-md-9">
						    			<input required data-required-msg="Data Path cannot be empty" type="text" class="form-control input-sm" name="data-path" placeholder="Example: /Users/test/data-path" data-bind="value: dataPath, enable: isColonyServer">
										<span class="k-invalid-msg" data-for="data-path"></span>
						    		</div>
					    		</div>
				    		</div>

				    		<div class="col-md-12 row">
				    			<p class="subtitle pcustom">SSH Access</p>
				    		</div>

				    		<div class="col-md-6">
				    			<div class="form-group">
							    	<label class="col-md-3 filter-label">SSH Host</label>
						    		<div class="col-md-7" data-bind="visible: !srv.isMultiServer()">
						    			<input data-required-msg="SSH host cannot be empty" type="text" class="form-control input-sm" name="ssh-host" placeholder="Type Host Here" data-bind="value: serviceSSH.host">
										<span class="k-invalid-msg" data-for="ssh-host"></span>
						    		</div>
						    		<div class="col-md-7" data-bind="visible: srv.isMultiServer()">
						    			<textarea class="form-control multi-server" data-bind="value: srv.ipToRegisterAsString" disabled readonly></textarea>
						    		</div>
					    		</div>
						    	<div class="form-group">
						    		<label class="col-md-3 filter-label">SSH Type</label>
						    		<div class="col-md-7">
						    			<select data-required-msg="SSH type cannot be empty" name="type-ssh" data-placeholder="Select Type SSH" class="col-100" data-bind="kendoDropDownList: { data: srv.optionTypeSSH, dataValueField: 'value', dataTextField: 'text', value: serviceSSH.type }">
								        </select>
								        <span class="k-invalid-msg" data-for="type-ssh"></span>
						    		</div>
					    		</div>
				    		</div>
				    		<div class="col-md-6">
					    		<div class="form-group" data-bind="visible: serviceSSH.type() == 'Credentials'">
						    		<label class="col-md-3 filter-label">SSH User</label>
						    		<div class="col-md-7">
						    			<input data-required-msg="SSH user cannot be empty" type="text" class="form-control input-sm" name="ssh-user" placeholder="Type the username Here" data-bind="value: serviceSSH.user">
										<span class="k-invalid-msg" data-for="ssh-user"></span>
						    		</div>
					    		</div>
					    		<div class="form-group" data-bind="visible: serviceSSH.type() == 'File'">
						    		<label class="col-md-3 filter-label">SSH File</label>
						    		<div class="col-md-7">
						    			<div>
						    				<span class="btn btn-sm btn-success btn-file btnsrvcustom tooltipster" title="Select ssh credential file">
											    <span class="glyphicon glyphicon-upload"></span> Upload
											    <input required name="file" id="privatekey" type="file">
											    <!-- srv.getServerFile -->
											</span>
										</div>
										<div><span class="k-invalid-msg" data-for="file"></span></div>
						    		</div>
					    		</div>
					    		<div class="form-group" data-bind="visible: serviceSSH.type() == 'Credentials'">
						    		<label class="col-md-3 filter-label">SSH Pass</label>
						    		<div class="col-md-7">
						    			<input type="password" class="form-control input-sm" name="ssh-password" placeholder="Type the password Here" data-bind="value: serviceSSH.pass">
						    		</div>
						    	</div>
				    		</div>

				    		<div class="col-md-12 row">
				    			<p class="subtitle pcustom">HDFS Access (optional)</p>
				    		</div>

				    		<div class="col-md-6">
				    			<div class="form-group">
							    	<label class="col-md-3 filter-label">HDFS Host</label>
						    		<div class="col-md-7">
						    			<input type="text" class="form-control input-sm" name="hdfs-host" placeholder="Type HDFS host Here" data-bind="value: serviceHDFS.host">
										<span class="k-invalid-msg" data-for="hdfs-host"></span>
						    		</div>
					    		</div>
					    		<div class="clearfix"></div>
				    		</div>
				    		<div class="col-md-6">
					    		<div class="form-group">
						    		<label class="col-md-3 filter-label">HDFS User</label>
						    		<div class="col-md-7">
						    			<input type="text" class="form-control input-sm" name="hdfs-username" placeholder="Type HDFS username Here" data-bind="value: serviceHDFS.user">
										<span class="k-invalid-msg" data-for="hdfs-username"></span>
						    		</div>
					    		</div>
					    		<div class="form-group">
						    		<label class="col-md-3 filter-label">HDFS Pass</label>
						    		<div class="col-md-7">
						    			<input type="password" class="form-control input-sm" name="hdfs-password" placeholder="Type HDFS password Here" data-bind="value: serviceHDFS.pass">
										<span class="k-invalid-msg" data-for="hdfs-password"></span>
						    		</div>
						    	</div>
				    		</div>

				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="col-md-offset-2 col-sm-8">
				                        <div class="nav">
				                            <button  class="btn btn-success btn-sm" data-bind="click: srv.addHostAlias">
				                                <span class="glyphicon glyphicon-plus"></span> Add Hostname Reference
				                            </button>
				                        </div>
				                        <table class="table" id="datasource-settings">
				                            <thead>
				                                <tr>
				                                    <th>Host name</th>
				                                    <th>IP address</th>
				                                </tr>
				                            </thead>
				                            <tbody data-bind="foreach: srv.configServer.serviceHDFS.hostAlias" >
				                                <tr>
				                                    <td>
				                                        <input class="form-control input-sm" type="text" class="full-width" placeholder="Type host name here" data-bind="value: hostName" />
				                                    </td>
				                                    <td>
				                                        <input class="form-control input-sm" type="text" class="full-width" placeholder="Type ip address here" data-bind="value: ip" />
				                                    </td>
				                                    <td>
				                                        <button type="button" class="btn btn-sm btn-danger" data-bind="visible: ($index() >= 0), click: srv.removeHostAlias($data)">
				                                            <span class="glyphicon glyphicon-remove"></span>
				                                        </button>
				                                    </td>
				                                </tr>
				                            </tbody>
				                        </table>
				                    </div>
				                </div>
				            </div>

				    		<div class="col-md-12 row">
				    			<p class="subtitle pcustom">Other</p>
				    		</div>

					    	<div class="col-md-12">
					    		<div class="form-group">
						    		<label class="col-md-2 filter-label">Extract</label>
						    		<div class="col-md-9">
						    			<input type="text" class="form-control input-sm" name="extract" placeholder="Example: 7z e -o %1 -y %2" data-bind="value: cmdextract" required>
										<span class="k-invalid-msg" data-for="extract"></span>
						    		</div>
					    		</div>
					    		<div class="form-group">
						    		<label class="col-md-2 filter-label">Make Directory</label>
						    		<div class="col-md-9">
						    			<input type="text" class="form-control input-sm" name="make-directory" placeholder="Example: mkdir" data-bind="value: cmdmkdir" required>
										<span class="k-invalid-msg" data-for="make-directory"></span>
						    		</div>
					    		</div>
					    		<!-- <div class="form-group">
						    		<label class="col-md-2 filter-label">Copy</label>
						    		<div class="col-md-9">
						    			<input type="text" class="form-control input-sm" name="copy" placeholder="Type Copy Here" data-bind="value: cmdcopy">
										<span class="k-invalid-msg" data-for="copy"></span>
						    		</div>
					    		</div>
					    		<div class="form-group">
						    		<label class="col-md-2 filter-label">New File</label>
						    		<div class="col-md-9">
						    			<input type="text" class="form-control input-sm" name="new-file" placeholder="Type New File Here" data-bind="value: cmdnewfile">
										<span class="k-invalid-msg" data-for="new-file"></span>
						    		</div>
					    		</div> -->
					    	</div>
				    	</form>
				    </div>
				</div>
    		</div>
    		<div class="tab-pane fade" id="Applications-server">
		    	<div class="col-md-12">
		    		<div class="grid grid-aplserver" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: apl.applicationData, columns: srv.appserverColumns, filterfable: false, pageable: true, dataBound: function(e) {srv.gridStatusCheck();srv.gridStatusColor();app.gridBoundTooltipster('.grid-aplserver')();} }"></div>
		        </div>
		    </div>
			<div class="tab-pane fade" id="Service-server">
				<div class="col-md-12">
					<div class="grid grid-service-server" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: srv.serverService, columns: srv.serverServiceColumns, filterfable: false, pageable: true }"></div>
				</div>
			</div>
    	</div>
    </div>
</div>
<div class="modal fade modal-wizard" tabindex="-1" role="dialog">
	<div class="modal-dialog modalcustom">
		<div class="modal-content">
			<div class="modal-1" id="modal-1" data-bind="visible: showModal() == 'modal1'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						SSH Wizard
					</h4>
				</div>
				<div class="modal-body" data-bind="">
    				<form class="form-horizontal form-wizard" id="form-wizard" novalidate>
						<div class="form-group">
							<div class="col-md-12">
								<p>Type the server IP addresses here.</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<textarea required class="form-control txtWizard" rows="6" name="txtWizard" id="txtWizard" data-bind="value: srv.txtWizard"></textarea>
								<span class="k-invalid-msg" data-for="txtWizard"></span>
							</div>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
					<button type="button" id="buttonWizard" class="btn btn-sm btn-primary" data-bind="click: function(){srv.navModalWizard('modal2'), srv.validate()}">
						<span class="glyphicon glyphicon-arrow-right"></span> Continue
					</button>
				</div>
			</div>
			<div class="modal-2" id="modal-2" data-bind="visible: showModal() == 'modal2'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						SSH Wizard
					</h4>
				</div>
				<div class="modal-body" data-bind="">
					<div class="form-group">
						<div class="col-md-12">
							<p>Status of pinged IP addresses</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="grid grid-data-wizard grid-wizard" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: srv.dataWizard, columns: srv.WizardColumns, filterfable: false, pageable: true, dataBound: srv.dataBoundWizard}"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
					<button type="button" class="btn btn-sm btn-warning" data-bind="click: function(){srv.navModalWizard('modal1')}">
						<span class="glyphicon glyphicon-arrow-left"></span> Back
					</button>
					<button type="button" class="btn btn-sm btn-primary" data-bind="click: srv.finishButton">
						<span class="glyphicon glyphicon-ok"></span> Register IPs
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
