<h1>Servers</h1>

<nav class="navbar" data-bind="visible: (app.mode() == '')">
    <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: srv.getServers">
		<span class="glyphicon glyphicon-refresh"></span> Refresh
	</button>
    <button class="btn btn-sm btn-success navbar-btn" data-bind="click: srv.createNewServer">
		<span class="glyphicon glyphicon-plus"></span> Add
	</button>
	<button class="btn btn-sm btn-danger navbar-btn" data-bind="click: srv.removeServer">
		<span class="glyphicon glyphicon-remove"></span> Delete
	</button>
	<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: srv.popupWizard" data-toggle="modal" data-target=".modal-wizard">
		<span class="glyphicon glyphicon-send"></span> Add Wizard
	</button>
</nav>

<nav class="navbar no-padding" data-bind="visible: (app.mode() == '')">
	<div class="col-md-4">
		<label class="col-md-4 filter-label">
			Search
		</label>
		<div class="col-md-8">
			<input class="form-control full-width input-sm" type="text" data-bind="value: srv.searchfield" placeholder="Type keyword here" />
		</div>
	</div>
</nav>

<div class="panel" data-bind="visible: (app.mode() == '')">
    <div class="panel-heading">
        <h1 class="panel-title">Servers</h1>
    </div>
    <div class="panel-body">
    	<div class="grid grid-server" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: srv.ServerData, selectable: 'multiple, row', change: srv.selectGridServer, columns: srv.ServerColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-server')}"></div>
    </div>
    <p class="bg-danger bgcustom">Please click row to edit!</p>
</div>

<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
	<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: srv.backToFront">
		<span class="glyphicon glyphicon-chevron-left"></span> Back
	</button>
    <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: srv.saveServer">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
    <button class="btn btn-sm btn-success navbar-btn" data-bind="click: srv.testConnection">
		<span class="fa fa-info-circle"></span> Test Connection
	</button>
	<button class="btn btn-sm btn-danger navbar-btn" id="removeOnEditServer" data-bind="srv.removeServer(), visible: showServer">
		<span class="glyphicon glyphicon-remove"></span> Delete
	</button>
</nav>

<div class="panel" data-bind="visible: (app.mode() == 'editor')" style="width: 800px;">
	<div class="panel-heading">
        <h1 class="panel-title"><span data-bind="text: (srv.ServerMode() == '') ? 'Create New' : 'Edit'"></span>
        </h1>
    </div>
    <div class="panel-body">
    	<form class="form-horizontal form-server" id="form-add-Server" data-bind="with: configServer" novalidate>
    		<div class="col-md-6">
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">ID</label>
		    		<div class="col-md-7">
		    			<input required type="text" class="form-control input-sm" name="ID" placeholder="Type the Server ID Here" data-bind="value: _id, enable: (srv.ServerMode() == '')">
						<span class="k-invalid-msg" data-for="ID"></span>					    			
		    		</div>
	    		</div>
	    		<!-- <div class="form-group">
		    		<label class="col-md-3 filter-label">Type</label>
		    		<div class="col-md-7">
		    			<select id="type" data-required-msg="Type cannot be empty" name="type" data-placeholder="Select Type" class="col-100" data-bind="kendoDropDownList: { data: srv.templatetype, dataValueField: 'value', dataTextField: 'text', value: type, optionLabel: 'Select one' }">
				        </select>
				        <span class="k-invalid-msg" data-for="type"></span>
		    		</div>
	    		</div> -->
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">OS</label>
		    		<div class="col-md-7">
		    			<select id="os" data-required-msg="OS cannot be empty" name="os" class="col-100" data-bind="kendoDropDownList: { data: srv.templateOS, dataValueField: 'value', dataTextField: 'text', value: os}">
				        </select>
				        <span class="k-invalid-msg" data-for="os"></span>
		    		</div>
	    		</div>
    		</div>
    		<div class="col-md-6">
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">App Path</label>
		    		<div class="col-md-9">
		    			<input required type="text" class="form-control input-sm" name="apppath" placeholder="Example: /Users/test/app-path" data-bind="value: appPath">
						<span class="k-invalid-msg" data-for="apppath"></span>
		    		</div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-md-3 filter-label">Data Path</label>
		    		<div class="col-md-9">
		    			<input required type="text" class="form-control input-sm" name="datapath" placeholder="Example: /Users/test/data-path" data-bind="value: dataPath">
						<span class="k-invalid-msg" data-for="datapath"></span>
		    		</div>
	    		</div>
	    		<!-- <div class="form-group">
		    		<label class="col-md-3 filter-label">Enable</label>
		    		<div class="col-md-7">
		    			<input type="checkbox" id="Enable" data-bind="checked: enable" />
		    		</div>
	    		</div> -->
	    		<!-- <span class="btn btn-sm btn-success btn-file btnsrvcustom col-md-offset-3">
				    <span class="glyphicon glyphicon-upload"></span> Upload <input id="uploadserver" name="uploadserver" type="file" accept=".zip"  data-bind="fileInput : sshfile">
				</span> -->
    		</div>

    		<div class="col-md-12 row">
    			<p class="pcustom">SSH Access</p>
    		</div>

    		<div class="col-md-6">
    			<div class="form-group">
			    	<label class="col-md-3 filter-label">Host</label>
		    		<div class="col-md-7">
		    			<input required type="text" class="form-control input-sm" name="host" placeholder="Type Host Here" data-bind="value: host">
						<span class="k-invalid-msg" data-for="host"></span>
		    		</div>
	    		</div>
	    		<div class="form-group" data-bind="visible: sshtype() == 'Credentials'">
		    		<label class="col-md-3 filter-label">User</label>
		    		<div class="col-md-7">
		    			<input required type="text" class="form-control input-sm" name="user" placeholder="Type the Username Here" data-bind="value: sshuser">
						<span class="k-invalid-msg" data-for="user"></span>
		    		</div>
	    		</div>
	    		<div class="form-group" data-bind="visible: sshtype() == 'File'">
		    		<label class="col-md-3 filter-label">File</label>
		    		<div class="col-md-7">
		    			<span class="btn btn-sm btn-success btn-file btnsrvcustom tooltipster" title="Select ssh credential file">
						    <span class="glyphicon glyphicon-upload"></span> Upload 
						    <input id="privatekey" type="file">
						    <!-- srv.getServerFile -->
						</span>
		    		</div>
	    		</div>
    		</div>
    		<div class="col-md-6">				    		
		    	<div class="form-group">
		    		<label class="col-md-3 filter-label">Type</label>
		    		<div class="col-md-7">
		    			<select id="type-ssh" data-required-msg="Type cannot be empty" name="type-ssh" data-placeholder="Select Type SSH" class="col-100" data-bind="kendoDropDownList: { data: srv.templatetypeSSH, dataValueField: 'value', dataTextField: 'text', value: sshtype}">
				        </select>
				        <span class="k-invalid-msg" data-for="type-ssh"></span>
		    		</div>
	    		</div>
	    		<div class="form-group" data-bind="visible: sshtype() == 'Credentials'">
		    		<label class="col-md-3 filter-label">Pass</label>
		    		<div class="col-md-7">
		    			<input required type="password" class="form-control input-sm" name="password" placeholder="Type the SSH Type Here" data-bind="value: sshpass">
						<span class="k-invalid-msg" data-for="password"></span>
		    		</div>
		    	</div>
    		</div>
	    	<!-- <div class="col-md-12">
		    	<div class="col-md-12">
	    			<p class="pcustom">Command</p>
	    		</div>
		    	<div class="col-md-12">
		    		<div class="form-group">
			    		<label class="col-md-2 filter-label">Extract</label>
			    		<div class="col-md-9">
			    			<input required type="text" class="form-control input-sm" name="extract" placeholder="Type Extract Here" data-bind="value: cmdextract">
							<span class="k-invalid-msg" data-for="extract"></span>
			    		</div>
		    		</div>
		    		<div class="form-group">
			    		<label class="col-md-2 filter-label">New File</label>
			    		<div class="col-md-9">
			    			<input required type="text" class="form-control input-sm" name="new-file" placeholder="Type New File Here" data-bind="value: cmdnewfile">
							<span class="k-invalid-msg" data-for="new-file"></span>
			    		</div>
		    		</div>
		    		<div class="form-group">
			    		<label class="col-md-2 filter-label">Copy</label>
			    		<div class="col-md-9">
			    			<input required type="text" class="form-control input-sm" name="copy" placeholder="Type Copy Here" data-bind="value: cmdcopy">
							<span class="k-invalid-msg" data-for="copy"></span>
			    		</div>
		    		</div>
		    		<div class="form-group">
			    		<label class="col-md-2 filter-label">Make Directory</label>
			    		<div class="col-md-9">
			    			<input required type="text" class="form-control input-sm" name="m-directory" placeholder="Make a Directory Here" data-bind="value: cmddir">
							<span class="k-invalid-msg" data-for="m-directory"></span>
			    		</div>
		    		</div>
		    	</div>
	    	</div> -->
    	</form>
    </div>
</div>
<div class="modal fade modal-wizard" tabindex="-1" role="dialog">
	<div class="modal-dialog modalcustom">
		<div class="modal-content">
			<div class="modal-1" id="modal-1" data-bind="visible: showModal() == 'modal1'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						SSH Wizard
					</h4>
				</div>
				<div class="modal-body" data-bind="">
    				<form class="form-horizontal form-wizard" id="form-wizard" novalidate>
						<div class="form-group">
							<div class="col-md-12">
								<p>Type the server IP addresses here.</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<textarea required class="form-control txtWizard" rows="6" name="txtWizard" id="txtWizard" data-bind="value: srv.txtWizard"></textarea>
								<span class="k-invalid-msg" data-for="txtWizard"></span>
							</div>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
					<button type="button" id="buttonWizard" class="btn btn-sm btn-primary" data-bind="click: function(){srv.navModalWizard('modal2'), srv.validate()}">
						<span class="glyphicon glyphicon-arrow-right"></span> Continue
					</button>
				</div>
			</div>
			<div class="modal-2" id="modal-2" data-bind="visible: showModal() == 'modal2'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						SSH Wizard
					</h4>
				</div>
				<div class="modal-body" data-bind="">
					<div class="form-group">
						<div class="col-md-12">
							<p>Status of pinged IP addresses</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="grid grid-data-wizard grid-wizard" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: srv.dataWizard, columns: srv.WizardColumns, filterfable: false, pageable: true, dataBound: srv.dataBoundWizard}"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
					<button type="button" class="btn btn-sm btn-warning" data-bind="click: function(){srv.navModalWizard('modal1')}">
						<span class="glyphicon glyphicon-arrow-left"></span> Back
					</button>
					<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" data-bind="click: srv.finishButton">
						<span class="glyphicon glyphicon-ok"></span> OK
					</button>
							{{template "_loader.html"}}
				</div>
			</div>
		</div>
	</div>
</div>