/*Change header*/
header#page-header {
    /*background: url(/static/asset/img/backgroudheader.jpg);*/
	/*background: #3B78E7;*/
    background: #ffffff;
    /*background-size:contain;*/
    height: 48px;
}

/*Change Color Top Menu*/
.navbar {
    background: #EB861A;
}
/*Change Color Seleted Top Menu*/
.navbar .navbar-nav li.open a{
    background: #EB861A;
}
.navbar .navbar-nav li.selected a { 
    color: #ffffff; 
    background: #B56510;
}
/*Change Color hover top menu*/
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li.active a:hover { 
    color: #ffffff; 
    background: #B56510;
}
.navbar .open, .navbar .open > a, .navbar .open > a:focus, .navbar .open > a:hover { 
    color: #ffffff; 
    background: #B56510;
}

/*Change color dropdown menu top*/
.navbar .dropdown .dropdown-menu { 
    background: #EB861A; 
    border-top-color: #B56510;
}
.navbar .dropdown .dropdown-menu li { 
    background: #EB861A;
}
.navbar .dropdown .dropdown-menu li a { 
    color: #ffffff 
}
.navbar .dropdown .dropdown-menu li a:hover { 
    background: #B56510;
}

/*Change color left menu*/
#menu-left {
    /*background: rgba(103, 87, 42, 0.75);*/
    background: #FAFAFA;
    border-right-color: #E5E5E5;
}
/*Change color button menu*/
#menu-left .toogle-left span {
    /*background: #7F7456;*/
    background: #ADADAD;
}
#menu-left .toogle-left span:hover{
    background: #737373;
}
ul.topnav li a:hover {
    background-color: #F5D6BC;
    color: #A6722E!important;
    border-left-color: #A6722E;
}	
ul.topnav li a:hover:after {
	border-bottom-color: #A6722E;
}
ul.topnav li a.selected {
    background-color: #F5D6BC;
    color: #A6722E!important;
    border-left-color: #A6722E;
}
ul.topnav li a.selected:after {
    border-bottom-color: #A6722E;
}
ul.topnav ul li a:hover {
    color: #A6722E!important;
}

/*Change color body notification*/
.notif .content-notif {
    background: #FAFAFA;
}
.notif {
    background: #B56510;
    border-color: #B56510;
}
	.notif .content-notif .media-body {
	    background: #F7D6B2;
	}
	.notif .content-notif i {
		color:#E6841C;
	}

.content-panel .grid-container .grid-item .panel .panel-config {
    color: #EB861A;
}