/*Change header*/
header#page-header {
    /*background: url(/static/asset/img/backgroudheader.jpg);*/
    /*background: #3B78E7;*/
    background: #ffffff;
    /*background-size:contain;*/
    height: 48px;
}

/*Change Color Top Menu*/
.navbar {
    background: #A1AB3A;
}
/*Change Color Seleted Top Menu*/
.navbar .navbar-nav li.open a{
    background: #A1AB3A;
}
.navbar .navbar-nav li.selected a { 
    color: #ffffff; 
    background: #6F730D;
}
/*Change Color hover top menu*/
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li.active a:hover { 
    color: #ffffff; 
    background: #6F730D;
}
.navbar .open, .navbar .open > a, .navbar .open > a:focus, .navbar .open > a:hover { 
    color: #ffffff; 
    background: #6F730D;
}

/*Change color dropdown menu top*/
.navbar .dropdown .dropdown-menu { 
    background: #A1AB3A; 
    border-top: 3px solid #6F730D;
}
.navbar .dropdown .dropdown-menu li { 
    background: #A1AB3A;
}
.navbar .dropdown .dropdown-menu li a { 
    color: #ffffff 
}
.navbar .dropdown .dropdown-menu li a:hover { 
    background: #6F730D;
}

/*Change color left menu*/
#menu-left {
    /*background: rgba(103, 87, 42, 0.75);*/
    background: #FAFAFA;
    border-right-color: #E5E5E5;
}
/*Change color button menu*/
#menu-left .toogle-left span {
    background: #ADADAD;
}
#menu-left .toogle-left span:hover{
    background: #737373;
}
ul.topnav li a:hover {
    background-color: #F5F3BC;
    color: #A6A42E!important;
    border-left-color: #A6A42E;
}   
ul.topnav li a:hover:after {
    border-bottom-color:#A6A42E;
}
ul.topnav li a.selected {
    background-color: #F5F3BC;
    color: #A6A42E!important;
    border-left-color:#A6A42E;
}
ul.topnav li a.selected:after {
    border-bottom-color:#A6A42E;
}
ul.topnav ul li a:hover {
    color: #A6A42E!important;
}

/*Change color body notification*/
.notif .content-notif {
    background: #FAFAFA;
}
.notif {
    background: #6F730D;
    border-color:#6F730D;
}
    .notif .content-notif .media-body {
        background: #D9D898;
    }
    .notif .content-notif i {
        color:#C2BC15;
    }

.content-panel .grid-container .grid-item .panel .panel-config {
    color: #A1AB3A;
}