<!-- core -->
<script src="/res/core/museum/page-widgetselector.js"></script>

<!-- main area -->
<div class="col-xs-12 col-sm-12" id="content" data-bind="with: SelectorWidget">
	<div class="col-md-12" data-bind="visible: (app.section() == 'selectorwidget')">
		<h1>Selector Widget</h1>

		<nav class="navbar" data-bind="visible: (app.mode() == '')">
            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: sw.getSelectorWidget">
	    		<span class="glyphicon glyphicon-refresh"></span> Refresh
	    	</button>
            <button class="btn btn-sm btn-success navbar-btn" data-bind="click: sw.createNewSelector">
	    		<span class="glyphicon glyphicon-plus"></span> Create New Selector
	    	</button>
	    	<button class="btn btn-sm btn-danger navbar-btn" id="removeWebGrabber" data-bind="click: sw.deleteSelectorWidget">
	    		<span class="glyphicon glyphicon-remove"></span> Delete
	    	</button>
		</nav>
		<nav class="navbar no-padding" data-bind="visible: (app.mode() == '')">
				<div class="col-md-4">
					<label class="col-md-3 filter-label no-left-padding">
						Search
					</label>
					<div class="col-md-8">
						<input class="form-control full-width input-sm searchbr" name="search" type="text" data-bind="value: sw.searchfield" placeholder="Type keyword here" />
					</div>
				</div>
			</nav>
		<div class="panel" data-bind="visible: (app.mode() == '')">
		    <div class="panel-heading">
		        <h1 class="panel-title">All Selector</h1>
		    </div>

		    <div class="panel-body">
		    	<div class="grid grid-selectorwidget" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: sw.selectorData, selectable: 'row', change: sw.selectSelectorWidget, columns: sw.selectorWidgetColumns, filterfable: false, pageable: true, dataBound: app.gridBoundTooltipster('.grid-selectorwidget') }"></div>
		    </div>
		    <p class="bg-danger bgcustom">Please click row to edit!</p>
		</div>

		<nav class="navbar" data-bind="visible: (app.mode() == 'editor')">
			<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFront">
	    		<span class="glyphicon glyphicon-chevron-left"></span> Back
	    	</button>
            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: saveSelector">
	    		<span class="glyphicon glyphicon-save"></span> Save
	    	</button>
		</nav>
		<div class="panel" data-bind="visible: (app.mode() == 'editor')">
			<div class="panel-heading">
		        <h1 class="panel-title">
		        	<span data-bind="text: (scrapperMode() == '') ? 'Create New' : 'Edit'"></span>
			        	Selector
	        	</h1>
		    </div>
		    <div class="clearfix">&nbsp;</div>
		    <div class="col-md-11">
			    <ul class="nav nav-tabs" role="tablist" id="tabed">
			    	<li class="active"><a href="#general" data-toggle="tab" role="tab">General</a></li>
			    	<li><a href="#datasource" data-toggle="tab" role="tab">Data Source - Field</a></li>
			    </ul>
			</div>
			<div class="panel-body">
				<form class="form-horizontal form-selector-widget" data-bind="with: configSelectorWidget" novalidate>
		    	<div class="tab-content">
		    			<div class="tab-pane fade in active" id="general" role="tabpanel">
		    				<div class="col-md-11">
		    					<div class="clearfix">&nbsp;</div>
		    					<div class="form-group">
						        	<label class="col-md-2 filter-label">ID</label>
						        	<div class="col-md-3">
						        		<input required pattern="[a-zA-Z0-9_]+" data-pattern-msg="Only alphabet, number, and underscore allowed for ID" type="text" class="form-control input-sm" name="ID" placeholder="Type ID here" data-bind="value: _id">
										<span class="k-invalid-msg" data-for="ID"></span>
						        	</div>
						        </div>
						        <div class="form-group">
						        	<label class="col-md-2 filter-label">Title</label>
						        	<div class="col-md-3">
						        		<input required type="text" class="form-control input-sm" name="title" placeholder="Type title here" data-bind="value: title">
										<span class="k-invalid-msg" data-for="title"></span>
						        	</div>
						        </div>
						        <div class="form-group">
						        	<label class="col-md-2 filter-label">Master Datasource</label>
						        	<div class="col-md-3">
						        		 <select required class="full-width" id="masterdatasource" name="masterdatasource" data-bind="kendoDropDownList: { data: sw.masterDataSources, dataValueField: '_id', value: masterDataSource, dataTextField: '_id', optionLabel : 'Select Master Data Source'}"></select>
										<span class="k-invalid-msg" data-for="masterdatasource"></span>
						        	</div>
						        </div>
		    				</div>
		    			</div>
		    			<div class="tab-pane fade" id="datasource" role="tabpanel">
		    				<div class="col-md-11">
		    					<div class="clearfix">&nbsp;</div>
			    				<div class="form-group">
								    <label class="col-md-2 filter-label">Fields</label>
								    <div class="col-sm-8">
							        	<div class="nav">
							        		<button class="btn btn-success btn-sm" data-bind="click: sw.addFields">
							        			<span class="glyphicon glyphicon-plus"></span> Add
							        		</button>
							        	</div>
							        	<table class="table" id="datasource-settings">
						        			<thead>
						        				<tr>
						        					<th>Data Source</th>
						        					<th>Field</th>
						        				</tr>
						        			</thead>
						        			<tbody data-bind="foreach: fields">
						        				<tr>
						        					<td>
						        						<select required class="full-width" data-bind="kendoDropDownList: { data: sw.dataSources, dataValueField: '_id', value: dataSource, dataTextField: '_id', change: function(e) {sw.getMetaData(this.dataItem()._id, $index())}, optionLabel : 'Select Data Source'}, attr: { name: 'datasource-' + $index() }"></select>
						        						<span class="k-invalid-msg" data-for="datasource"></span>
						        						<!-- <input class="form-control input-sm" type="text" class="full-width" data-bind="value: dataSource" /> -->
						        					</td>
						        					<td>
						        						<select required class="full-width field" data-bind="kendoDropDownList: { dataValueField: '_id', value: field, dataTextField: '_id', optionLabel : 'Select Field'}, attr: { name: 'field-' + $index() }"></select>
						        						<span class="k-invalid-msg" data-for="field"></span>
						        						<!-- <input class="form-control input-sm" type="text" class="full-width" data-bind="value: field" /> -->
						        					</td>
						        					<td data-bind="visible: ($index() > 0)">
						        						<button class="btn btn-sm btn-danger" data-bind="click: sw.removeFieldSelector($data)">
						        							<span class="glyphicon glyphicon-remove" ></span>
						        						</button>
						        					</td>
						        				</tr>
						        			</tbody>
							        	</table>
							        </div>
								</div>
		    				</div>	
		    			</div>
		    		</div>
		    	</form>
			</div>
		</div>
	</div>
</div>
